{% extends 'base.html.twig' %}

{% block title %}SuiviMaterielMobilier{% endblock %}

{% block body %}
    <h1>SuiviMaterielMobilier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ suivi_materiel_mobilier.id }}</td>
            </tr>
            <tr>
                <th>DateJ</th>
                <td>{{ suivi_materiel_mobilier.dateJ ? suivi_materiel_mobilier.dateJ|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ suivi_materiel_mobilier.designation }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ suivi_materiel_mobilier.montant }}</td>
            </tr>
            <tr>
                <th>DateDeSortie</th>
                <td>{{ suivi_materiel_mobilier.dateDeSortie ? suivi_materiel_mobilier.dateDeSortie|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PrixDeCession</th>
                <td>{{ suivi_materiel_mobilier.prixDeCession }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ suivi_materiel_mobilier.createdAt ? suivi_materiel_mobilier.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ suivi_materiel_mobilier.updatedAt ? suivi_materiel_mobilier.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Submit</th>
                <td>{{ suivi_materiel_mobilier.submit ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AnneeFinanciere</th>
                <td>{{ suivi_materiel_mobilier.anneeFinanciere }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ suivi_materiel_mobilier.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_suivi_materiel_mobiliers_index') }}">back to list</a>

    <a href="{{ path('app_suivi_materiel_mobiliers_edit', {'id': suivi_materiel_mobilier.id}) }}">edit</a>

    {{ include('suivi_materiel_mobiliers/_delete_form.html.twig') }}
{% endblock %}
