
<div class="accordion-item">
	<h2 class="accordion-header" id="headingTwo">
		<button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			Coordonnées
		</button>
	</h2>
	
</div>

<div class="card" style=" margin: 0%;padding: 0%;-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175);box-shadow:0 1rem 3rem rgba(0,0,0,.175)">
	<div class="card-body">
		{{ form_start(form,{'action':path('ni_nineaproposition_editCoordonnees',{id:app.request.attributes.get('id')})})}}
		
			<div class="row">               
              
                    <div class="col-lg-6">
                        <fieldset class="fieldcolor p-2">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30%;">
                                        <label for="">{{form_label(form.ninTypeVoie)}}</label>
                                    </td>
                                    <td style="width: 70%;">
                                        {{form_widget(form.ninTypeVoie)}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30%;">
                                        <label for="">{{form_label(form.ninVoie)}}</label>
                                    </td>
                                    <td style="width: 70%;">
                                        {{form_widget(form.ninVoie)}}
                                    </td>
                                </tr>
    
                                <tr>
                                    <td style="width: 30%;">
                                        <label for="">{{form_label(form.ninnumVoie)}}</label>
                                    </td>
                                    <td style="width: 70%;">
                                        {{form_widget(form.ninnumVoie)}}
                                    </td>
                                </tr>

 <tr>
                                    <td>
                                        <label for="numvoie" class="TXT">Région</label>
                                        <span style="color: red;">*</span>
                                    </td>
                                    <td>
                                        <select class="form-control form-control-sm select2 " name="editregion_coord" id="editregion_coord" style="width: 100%;">
                                            <option>Choississez la région</option>
                                            {% for tag in regions %}
                                                {% if tag.id == region %}
                                                    <option value="{{tag.id}}" selected>{{tag.libelle}}</option>
                                                {% else %}
                                                    <option value="{{tag.id}}" >{{tag.libelle}}</option>
                                                {% endif %}
                                            {% endfor %}
                                            </select>
                                            <span style="color: red;" id="ninregion"></span>
                                        </td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="numvoie" class="TXT">Départements</label>
                                        <span style="color: red;">*</span>
                                    </td>
                                    <td>
                                        <select class="form-control form-control-sm select2 " name="editdepartement" id="editdepartement_coord" style="width: 100%;">
                                            {% for tag in departements %}
                                                {% if tag.id == departement %}
                                                    <option value="{{tag.id}}" selected>{{tag.description}}</option>
                                                {% else %}
                                                    <option value="{{tag.id}}" >{{tag.description}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <span style="color: red;" id="nindepartement"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="numvoie" class="TXT">CAV:</label>
                                        <span style="color: red;">*</span>
                                    </td>
                                    <td>
                                        <select class="form-control form-control-sm select2" name="editcav" id="editcav_coord" style="width: 100%;">
                                            {% for tag in cavs %}
                                                {% if tag.id == cav %}
                                                    <option value="{{tag.id}}" selected>{{tag.libelle}}</option>
                                                {% else %}
                                                    <option value="{{tag.id}}" >{{tag.libelle}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <span style="color: red;" id="nincav"></span>
                                    </td>
                                </tr>
    
                                <tr>
                                    <td>
                                        <label for="basicpill-firstname-input" class="TXT">	CACR</label>
                                        <span style="color: red;">*</span>
                                    </td>
                                    <td>
                                        <select class="form-control form-control-sm select2" name="editcacr" id="editcacr_coord" style="width: 100%;">
                                            {% for tag in cacrs %}
                                                {% if tag.id == cacr %}
                                                    <option value="{{tag.id}}" selected>{{tag.libelle}}</option>
                                                {% else %}
                                                    <option value="{{tag.id}}" >{{tag.libelle}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <span style="color: red;" id="nincacr"></span>
                                    </td>
                                </tr>
                                <tr>
    
                                    <td style="width: 30%;">
                                        <label for="basicpill-firstname-input" class="TXT">
                                            Quartier/Village/Hameau:</label>
                                        <span style="color: red;">*</span>
                                    </td>
                                    <td style="width: 70%;">
                                        <select class="form-control form-control-sm select2" name="editqvh" id="editqvh_coord" style="width: 100%;">
                                            
                                                    <option value="{{qvh.id}}" selected>{{qvh.libelle}}</option>
                                             
                                          
                                        </select>
                                        <span style="color: red;" id="ninqvh"></span>
                                    </td>
                                </tr>	

                            </table>
                        </fieldset>
                    </div>
                    
                      
                    <div class="col-lg-6">
                        <fieldset class="p-2 fieldcolor">
                            <table style="width: 100%;">
                                 <tr>
                                    <td style="width: 30%;">
                                        <label for="">{{form_label(form.ninadresse1)}}</label>
                                    </td>
                                    <td style="width: 70%;">
                                        {{form_widget(form.ninadresse1)}}
                                    </td>
                                </tr>
                               
                                <tr>
                                    <td style="width: 30%;">
                                        <label for="">{{form_label(form.ninTelephon1)}}</label>
                                    </td>
                                    <td style="width: 70%;">
                                        {{form_widget(form.ninTelephon1)}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30%;">
                                        <label for="">{{form_label(form.nintelephon2)}}</label>
                                    </td>
                                    <td style="width: 70%;">
                                        {{form_widget(form.nintelephon2)}}
                                    </td>
                                </tr>      
                                <tr>
                                    <td style="width: 30%;">
                                        <label for="">{{form_label(form.ninEmail)}}</label>
                                    </td>
                                    <td style="width: 70%;">
                                        {{form_widget(form.ninEmail)}}
                                    </td>
                                </tr>      
                                <tr>
                                    <td style="width: 30%;">
                                        <label for="">{{form_label(form.ninBP)}}</label>
                                    </td>
                                    <td style="width: 70%;">
                                        {{form_widget(form.ninBP)}}
                                    </td>
                                </tr>    
                                <tr>
                                    <td style="width: 30%;">
                                        <label for="">{{form_label(form.ninUrl)}}</label>
                                    </td>
                                    <td style="width: 70%;">
                                        {{form_widget(form.ninUrl)}}
                                    </td>
                                </tr>     
                               
                            </table>
                        </fieldset>
                       
                    </div>
			</div>

            <div class="row mt-3">
                <div class="col-lg-8">		</div>
                <div class="col-lg-4 " align="right">
                    <input type="submit" value="Ajouter" name="ajouter">
                    <input type="button" data-bs-dismiss="modal" aria-label="Close" value="Annuler" name="annuler">
                </div>
            </div>
            
			{{ form_end(form) }}
	</div>

</div>
