{% extends 'ninea.html.twig' %} {% block title %}NiNineaproposition index {% endblock %} {% block stylesheets %}
<!-- DataTables -->
<link href="{{ asset('admin/dist/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />


<style></style>
{% endblock %} {% block body %}



<div class="box mt-4">
    <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
            <li class="active">
                <a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                    Liste des demandes en cours de saisie
                </a>
            </li>

        </ul>
    </div>

    <div class="box-content padded">

        <div class="tab-content">            

            <div class="row  ">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-responsive-lg">
            
                            {% for message in app.session.flashbag.get('message')%}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
            
                            {% endfor %}
            
                            <table id="demande" class="table table-bordered dt-responsive table-hover  " style="width: 100%;">
                                <thead class="tr_entete p-4">
                                    <tr>
                                        <th>N° </th>
                                        <th>Raison</th>
                                        <th>Service</th>
                                        <th>Agent demandeur</th>
                                        <th>Statut           </th>
                                        <th>Date     </th>
                                        <th></th>
                                    </tr>
                                </thead>
            
            
                                <tbody>
                                    {% for ni_nineaproposition in ni_nineapropositions %}
                                    <tr>                           
                                        <td>{{ ni_nineaproposition.ninnumerodemande }}</td>
                                        <td style=" word-break: break-all; width: 15%;">
                                            {% if ni_nineaproposition.ninFormejuridique is not null  %}
            
                                                {% if ni_nineaproposition.ninFormejuridique.niFormeunite.id == 11 or ni_nineaproposition.ninFormejuridique.niFormeunite.id == 12  %} 
                                                  
                                                        
                                                        {{ni_nineaproposition.niPersonne != null ? ni_nineaproposition.niPersonne.ninPrenom :""}} {{ni_nineaproposition.niPersonne != null ?  ni_nineaproposition.niPersonne.ninNom :""}}  
                                                    
                                                {% else %} 
                                                    {% if ni_nineaproposition.ninFormejuridique.niFormeunite.id == 21 or ni_nineaproposition.ninFormejuridique.niFormeunite.id == 22 %}
                                                       
                                                            {{ni_nineaproposition.niPersonne != null ? ni_nineaproposition.niPersonne.ninRaison:""}} 
                                                      
                                                    {% endif %}
                                                {% endif %}
            
            
                                            {% endif %}
                                        </td>
                                        <td style=" width: 20%;"> {% if  ni_nineaproposition.createdBy and ni_nineaproposition.createdBy.niAdministration is not null %} 
                                                    {{ ni_nineaproposition.createdBy.niAdministration.admlibelle}}
                                            {% endif %}
                                                </td>
                                        <td>{{ ni_nineaproposition.createdBy is not null ? ni_nineaproposition.createdBy.prenom: ""}} {{ni_nineaproposition.createdBy is not null ? ni_nineaproposition.createdBy.nom: ""}}</td>
            
                                        <td>
                                            {% if ni_nineaproposition.ninlock == true %}
                                                <span class="badge badge-pill badge-soft-warning font-size-11">En  validation</span> 
            
                                            {% else %}
            
                                                {% if ni_nineaproposition.statut == "c" %}
                                                    <span class="badge badge-pill badge-soft-info font-size-11">En attendte de validation</span> 
                                                    {% else %}
                                                        {% if ni_nineaproposition.statut == "b" %}
                                                            <span class="badge badge-pill badge-soft-secondary font-size-11">Brouillon</span> 
                                                        {% else %}
                                                           {% if ni_nineaproposition.statut == "r" %}
                                                            <span class="badge badge-pill badge-soft-danger font-size-11" >Rejeter
                                                                
                                                            </span>
                                                            <button type="button" data-bs-toggle="popover" class="fa fa-comment badge-soft-danger" data-bs-placement="top" data-bs-content="{{ni_nineaproposition.ninRemarque }}">
                                                            </button>
                                                              
                                                            {% else %}
                                                            {% if ni_nineaproposition.statut == "t" %}
                                                            <span class="badge badge-pill badge-soft-pink font-size-11" >Retourner
                                                                
                                                            </span>
                                                            <button type="button" data-bs-toggle="popover" class="fa fa-comment badge-soft-danger" data-bs-placement="top" data-bs-content="{{ni_nineaproposition.ninRemarque }}">
                                                            </button>
                                                              
                                                            {% else %}
                                                            <span class="badge badge-pill badge-soft-success font-size-11">Valider</span> 
                                                             
                                                        {% endif %} 
                                                             
                                                        {% endif %} 
                                                        {% endif %} 
                                                    
                                                {% endif %}
                                            {% endif %}
            
                                        </td>
                                        <td>{{ ni_nineaproposition.ninmajdate | date("d/m/Y") }}</td>
            
                                        <td>
                                            {% if is_granted('ROLE_NINEA_ADMIN') or is_granted('ROLE_VALIDER_DEMANDE_NINEA') or is_granted('ROLE_DEMANDE_NINEA') %} 
                                                <a href="{{ path('ni_nineaproposition_show', {'id': ni_nineaproposition.id}) }}" id="modification">
                                                    Détails
                                                </a>
                                                {% if is_granted('ROLE_NINEA_ADMIN') or is_granted('ROLE_DEMANDE_NINEA') %} 
                                                    <a href="{{ path('deleteBrouillon', {'id': ni_nineaproposition.id}) }}" id="supprimer" >
                                                        Supprimer
                                                    </a>
                                                {% endif %} 
                                            {% endif %} 
                                        </td>
                                    </tr>
                            
                                {% endfor %}
                                </tbody>
                            </table>
            
            
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            
                                
        </div>
            
    </div>
    
     
</div>



{% endblock %}

{% block javascript %}

<script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>

<script src="{{ asset('admin/dist/assets/js/pages/datatables.init.js')}}"></script>



<script>
    $('.idDetails').click(function() {
        Swal.fire("Demande en cours d'utilisation.");
    });

    function recupUtilisateur(nom)
    {
        Swal.fire("Veuiller contacter " + nom + " pour libérer cette demande.");

    }

            $("#supprimer").click(function (e) {

                var soumettre = 1;

                if (soumettre == 1) {

                    {
                        e.preventDefault();

                        var a = $(this);
                        Swal.fire({
                            title: "Confirmation",
                            text: "Êtes-vous sûr de vouloir supprimer le brouillon  ?",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Oui",
                            cancelButtonText: "Non",
                            confirmButtonClass: "btn btn-success mt-2",
                            cancelButtonClass: "btn btn-danger ms-2 mt-2",
                            buttonsStyling: !1
                        }).then(function (t) {

                             if (t.value) {
                                Swal.fire(
                                    'Supprimé!',
                                    'Le brouillon a été supprimé.',
                                    'success'
                                )

                            }
                           
                        })
                    }
                }

            });


    function confirmation_suppression()
        {
             Swal.fire({
            title: 'Etes-vous sur?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Supprimer!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Supprimé!',
                    'Le brouillon a été supprimé.',
                    'success'
                )
            }
        })
    }

   
</script>
{% endblock %}