{% extends 'ninea.html.twig' %}
{% block title %}New NiNineaproposition
{% endblock %}
{% block stylesheets %}

	<link href="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{ asset('admin/dist/assets/libs/select2/css/select2.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{ asset('admin/dist/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('admin/dist/assets/libs/spectrum-colorpicker2/spectrum.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('admin/dist/assets/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css')}}" rel="stylesheet" type="text/css">
	<link href="{{ asset('admin/dist/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css')}}" rel="stylesheet" type="text/css"/>
	<link
	href="{{ asset('admin/dist/assets/libs/@chenfengyuan/datepicker/datepicker.min.css')}}" rel="stylesheet">
	<!-- App favicon -->
	<link
	rel="shortcut icon" href="{{ asset('admin/dist/assets/images/favicon.ico')}}">

    <link href="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery-ui.theme.min.css')}}" id="app-style" rel="stylesheet" type="text/css"/>
	<!-- Bootstrap Css -->
	<link
	href="{{ asset('admin/dist/assets/css/bootstrap.min.css')}}" id="bootstrap-style" rel="stylesheet" type="text/css"/>
	<!-- Icons Css -->
	<link
	href="{{ asset('admin/dist/assets/css/icons.min.css')}}" rel="stylesheet" type="text/css"/>
	<!-- App Css-->
	<link href="{{ asset('admin/dist/assets/css/app.min.css')}}" id="app-style" rel="stylesheet" type="text/css"/>

	

	<style type="text/css">
		.has_error {
			background-color: #E8F0FE;
			border-color: red;
		}

		.larger {
			width: 100%;
		}

		.fieldcolor {
		   border: 2px solid #eee;
		}

		legend {
			color: black;
			font-size: 12px;
		}


		.ui-autocomplete {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			display: none;
			float: left;
			min-width: 160px;
			padding: 5px 0;
			margin: 2px 0 0;
			list-style: none;
			font-size: 14px;
			text-align: left;
			background-color: #ffffff;
			border: 1px solid #cccccc;
			border: 1px solid rgba(0, 0, 0, 0.15);
			border-radius: 4px;
			-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
			background-clip: padding-box;
		  }
		  
		  .ui-autocomplete > li > div {
			display: block;
			padding: 3px 20px;
			clear: both;
			font-weight: normal;
			line-height: 1.42857143;
			color: #333333;
			white-space: nowrap;
		  }
		  
		  .ui-state-hover,
		  .ui-state-active,
		  .ui-state-focus {
			text-decoration: none;
			color: #262626;
			background-color: #f5f5f5;
			cursor: pointer;
		  }
		  
		  .ui-helper-hidden-accessible {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		  }

		 
	</style>

{% endblock %}
{% block body %}
			{% set dateJour = 'now'|date("d-m-Y") %}
			<div class="box mt-4">
					<div class="box-header">
						<ul class="nav nav-tabs nav-tabs-left">
							<li class="active">
								<a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
									Saisie demande de NINEA
								</a>
							</li>
				
						</ul>
			</div>
				
			<div class="box-content padded">
						<div class="tab-content">
							{% for message in app.session.flashbag.get('message')%}
								<div class="alert alert-danger alert-dismissible fade show" role="alert">
									{{message}}
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							{% endfor %}

							{{ form_start(form)}}
							
							<div class="card "  style=" margin: 0%;padding: 0%;-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175);box-shadow:0 1rem 3rem rgba(0,0,0,.175)">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-12">
											{% for message in app.session.flashbag.get('message')%}
												<div class="alert alert-danger alert-dismissible fade show" role="alert">
													{{message}}
													<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
												</div>
											{% endfor %}

											<input type="hidden" name="id_hidden" id="id_hidden">

												<fieldset class=" p-2 fieldcolor mb-3">
													<div class="row">
														<div class="col-lg-5">
															<table style="width: 100%;">
															    <tr>
																	<td style="width: 40%;">
																		<label for="" class="TXT"> <b><u> Nom commercial  </u></b>   </label>	
																	</td>
																	<td style="width: 60%;">
																		<input name="commercial" type="text" id="idcommercial"  class="form-control form-control-sm">
																	</td>
																</tr>
																<tr>
																	<td style="width: 40%;">
																		<label for="" class="TXT"> <b><u> Forme unité : </u></b>   </label>	
																		<span style="color:red;">*</span>	
																	</td>
																	<td style="width: 60%;">
																		<select name="formeunite" required class="form-control form-control-sm classselect" id="idformeunite">
																			<option  value=""> Sélectionner ...</option>
																				{% for tag in formeunites %}
																					{% if (ni_nineaproposition.ninFormejuridique is not null) %}
																						{% if tag.id == ni_nineaproposition.ninFormejuridique.niFormeunite.id %}
																							<option  value="{{tag.id}}" selected>	{{  tag.libelle}}</option>
																						{% else %}
																							<option value="{{ tag.id }}" > {{ tag.libelle}}</option>
																						{% endif %}
																					{% else %}
																						<option  value="{{tag.id}}" >	{{  tag.libelle}}</option>
																					{% endif %}
																				{% endfor %}
																			

																			{# {% if ni_nineaproposition.niPersonne.ninTypevoie is not null %}
																						{% if tagv.id == ni_nineaproposition.niPersonne.ninTypevoie.id %}
																							<option value="{{ tagv.id }}" selected> {{ tagv.tyvlibelle}}</option>
																						{% else %}
																							<option value="{{ tagv.id }}" > {{ tagv.tyvlibelle}}</option>
																						{% endif %}
																					{% else %}
																							<option value="{{ tagv.id }}" > {{ tagv.tyvlibelle}}</option>
																						{% endif %}
																				#}
																		</select>
																		<span style="color: red;" id="ninpersonne"></span>
																	</td>
																</tr>
															</table>
							
															<table style="width: 100%;">
																<tr>
																	<td style="width: 40%;">
																		<label class="TXT mt-2" for="basicpill-firstname-input"> <b><u> Régime juridique : </u></b>
																			<span style="color:red;">*</span>
																		</label>
																	</td>
																	<td style="width: 60%;">
																		<select name="formejuridique" required id="idFormejuridique" class="form-control form-control-sm mt-2 classselect">
																				{% if (ni_nineaproposition.ninFormejuridique is not null) %}
																					<option  value="{{ ninFormeJuridique.id}}">			{{ ninFormeJuridique.fojLibelle}}</option>
																				{% else %}									
																					<option value="">Sélectionner ...</option>
																				{% endif %}	
																			
																		</select>
																		<span style="color: red;" id="ninformejuridique"></span>
																	</td>
																</tr>
																	<tr>
																	<td style="width: 40%;">
																		<label for="basicpill-firstname-input" class="TXT "> {{form_label(form.ninStatut,"Statut : " ,{ 'label_attr': {'style': 'font-weight:bold;text-decoration:underline;'}})}} <span style="color:red;">*</span>
																		</label>
																	</td>
																	<td style="width: 60%;">
																		{{form_widget(form.ninStatut)}}
																		<span style="color: red;" id="ninstatut"></span>
																	</td>
																</tr>
																
															</table>
															<table style="width: 100%;" id="tablabelmere" class="ui-widget">
																														
															</table>
														</div>
							
														<div class="col-lg-7">
															<table style="width: 100%;" id="tbdocuments">
															    <tr>
																	<td style="width: 40%;">
																		<label for="" class="TXT"> <b><u> Enseigne </u></b>   </label>	
																			
																	</td>
																	<td style="width: 60%;">
																		<input name="enseigne" type="text" id="idenseigne"  class="form-control form-control-sm">
																	</td>
																</tr>
																
																				
															</table>
															<table style="width: 100%;" id="tb_documents">
															   <tr>
																	<td style="width: 40%;">
																		<label for="" class="TXT"> <b><u> Type document </u></b>   </label>	
																		<span style="color:red;">*</span>	
																	</td>
																	<td style="width: 60%;">
																		<select name="typdocument" required class="form-control form-control-sm classselect" id="idtypdocument">
																			
																			

																		</select>
																		
																	</td>
																</tr>
																<tr>
																	<td style="width: 40%;">
																		<label for="" class="TXT"> <b><u> Numéro du document </u></b>   </label>	
																		<span style="color:red;">*</span>	
																	</td>
																	<td style="width: 60%;">
																		<input name="document" type="text" id="iddocument"  class="form-control form-control-sm">
																		<span style="color: red;" id="ninreg"></span>
																		
																	</td>
																</tr>
																<tr>
																	<td style="width: 40%;">
																		<label for="" class="TXT"> <b><u>Date du document </u></b>   </label>	
																		<span style="color:red;">*</span>	
																	</td>
																	<td style="width: 60%;">
																		<input name="datedocument" type="date" id="iddatedocument"  class="form-control form-control-sm ">
																		
																		
																	</td>
																</tr>
																
															</table>
															<table style="width: 100%;" id="idtabobservation" >
																<tr>
																	<td style="width: 55%;">
																		<label for="" class="TXT"> <b><u> Observation </u></b>   </label>	
																		<span style="color:red;">*</span>	
																	</td>
																	<td style="width: 40%;">
																		<textarea name="observation" required class="form-control form-control-sm classselect" id="observation"></textarea>
																		
																	</td>
																</tr>											
															</table>
														</div>
													</div>
												</fieldset>
						
											<br>
										</div>
						
											<div class="col-lg-12">
												<center>
													<div id="cover-spin"></div>
													
													<input type="button"  value="Suivant" name="sauvegarder" id="id_sauvegarder" class="bouton" >
											
												</center>
											</div>
										</div>
									</div>
							</div>
						
							<!-- end card -->
							{{ form_end(form) }}
							
						</div>
											
												
						</div>
							
				</div>
		


{% endblock %}
{% block javascript %}
	
<script src="{{ asset( 'admin/dist/assets/libs/sweetalert2/sweetalert2.min.js')}} "></script><!-- Sweet alert init js-->
<script src="{{ asset( 'admin/dist/assets/js/pages/sweet-alerts.init.js')}} "></script><!-- init js -->{#
<script src="assets/js/pages/ecommerce-select2.init.js "></script> #}
<!-- form advanced init -->


<script src="{{ asset('admin/dist/assets/libs/inputmask/min/jquery.inputmask.bundle.min.js')}}"></script>

<!-- form mask init -->
<script src="{{ asset('admin/dist/assets/js/pages/form-mask.init.js')}}"></script>
<script>
	function formatJuridiction(juridiction) {
		var match = juridiction.match(/^(DKR|STL|KLK|TBC|THS|DBL|KLD|ZGR|LGA|FTK|MTM|SDH|KDG|MBR)$/)
		if (match) {
			return 1;
		}
			return 0;
	}

	function formatRCCM(texte) {
		var match = texte.match(/^(SN)(DKR|STL|KLK|TBC|THS|DBL|KLD|ZGR|LGA|FTK|MTM|SDH|KDG|MBR)(\d{4})(A|B|C|E{1})(\d{1,5})$/)
		if (match) {
			return 1;
		}
		return 0;
	}

	function controlRCCM(rccm,formejuridique,statut)
	{

		var registre = rccm;
		var registrenormal1 = registre.replace(/ /g, "");
		var registrenormal2 = registrenormal1.split('_').join('').trim();
		let juridiction = registrenormal2.substr(2,3);

		let datereg = registrenormal2.substr(5,4);
		let datecours = new Date();
		let anneecours = datecours.getFullYear();
		var message="";

		if (registrenormal2.length < 11)
		{
			message='Numéro de registre incomplet.';
			
		}							
		else
		{
			if(statut==1)
			{
				if (formejuridique == 10) 
					var rccmnormalsociete = registrenormal2.indexOf("A", 9);
				else if(formejuridique == 27 || formejuridique == 30 )
					var rccmnormalsociete = registrenormal2.indexOf("C", 9);
				else if(formejuridique == 49 )
				{
						if (registrenormal2.indexOf("C", 9) != -1 || registrenormal2.indexOf("B", 9) != -1 )
							rccmnormalsociete = 9;
						else
							rccmnormalsociete =-1;

				}
				else if (formejuridique == 93 )
					var rccmnormalsociete = registrenormal2.indexOf("E", 9);
				else
					var rccmnormalsociete = registrenormal2.indexOf("B", 9);
            }else
			  var rccmnormalsociete = registrenormal2.indexOf("E", 9);

				
				
			if (rccmnormalsociete == -1 ) {
				message='Le format du RCCM saisi n\'est pas valide.';
				
			}
			//juridiction
			else if (formatJuridiction(juridiction) == 0)
			{
				message='Le format du RCCM saisi n\'est pas valide: erreur sur la juridiction.';

			}
			else if (datereg > anneecours)
			{
				message="L'année du registre de commerce ne doit pas être postérieure à l'année en cours.";
					
			}

			else {
				message="";
			}
													
		}
	    return message;
		
	}

	function controlDateRCCM(date,datedoc){

		var datedocument = new Date(date);
		var dateDuJour = new Date();
		let anneeDatereg = datedocument.getFullYear();
		var message="";
		
		
		if (datedocument > dateDuJour) 
		{
			//document.getElementById("inputdatereg").value = new Date("");
			message='La date du registre de commerce ne doit pas être postérieure à la date du jour.';
			
		}
		else
		{
			
			if (anneeDatereg < "1900")
			{
				//document.getElementById("inputdatereg").value = new Date("");
				message="La date du registre de commerce ne doit pas être antérieure à l'année 1900.";
		
			}
			else 
			{
					let regcom = datedoc;
					var registrenormal = regcom.replace(/ /g, "");
					let dateregcom = registrenormal.substr(5,4);
				
				
					if (anneeDatereg < dateregcom)
					{
						
						//document.getElementById("id_sauvegarder").setAttribute("disabled", true);
						message= "La date du registre de commerce ne doit pas être antérieure à la date de création du registre.";
						
						
					}
					
					else
					{
						
						message="";
						
					}
				
				
			}
			
		} 
		return message;

	}

</script>

<script >
	$(document).ready(function () {

		document.getElementById("idtabobservation").style.display = "none";

		
		$("#idformeunite").change(function () {

			let formejuridique = document.getElementById("idFormejuridique");
			formejuridique.innerHTML = "";

			 $("#iddocument").val('');
			 document.getElementById("idtypdocument").innerHTML = "";
			 $("#iddatedocument").val('');
			 $("#iddocument").inputmask('');

		
			
			let opt = document.createElement('option');
			opt.innerHTML = "Sélectionner ...";
			opt.value = '';
			formejuridique.add(opt);

			{% for tag in formejuridiques %}
				if ($("#idformeunite").val() == '{{ tag.niFormeunite.id }}') 
				{
					let opt = document.createElement('option');
					opt.value = "{{ tag.id }}";
					opt.innerHTML = "{{ tag.fojLibelle }}";
					formejuridique.add(opt);
				}

			{% endfor %}
		});

		$('#ni_nineaproposition_ninStatut').change(function () { 
			var statut = document.getElementById("ni_nineaproposition_ninStatut").value;
			let tabmere = document.getElementById("tablabelmere");
				tabmere.innerHTML="";
			
			
			if (statut == 2) 
			{

				let tr_titrefoncier = document.createElement("tr");
				let td_labeltitrefoncier = document.createElement("td");
					td_labeltitrefoncier.setAttribute('style', "width: 40%;")
				    td_labeltitrefoncier.innerHTML = '<label for="" class="TXT mt-2" id="labelmere"> <b><u>Ninea mère : <span style="color: red;">*</span> </u> </b> </label>';
				let td_inputitrefoncier = document.createElement("td");
					td_inputitrefoncier.setAttribute('style', "width: 60%;")
					td_inputitrefoncier.setAttribute("class", "input-group")
					td_inputitrefoncier.innerHTML = '<input type="text" id="inputmere" readonly name="nineamere" required class="form-control form-control-sm mt-2" style="width:70%" > <div class="input-group-btn mt-2"> <button style="height:100%" type="button" class="bx bx-search-alt" id="btnRechercheNINEA" ></button> <span style="color: red;" id="nin_nineamere"></span></div>' ;
				
				
				tr_titrefoncier.appendChild(td_labeltitrefoncier);
				tr_titrefoncier.appendChild(td_inputitrefoncier);

				tabmere.appendChild(tr_titrefoncier);

				let typeNINEA = 0;
				var nineamere = "";


				$("#inputmere").change(function() 
				{
										
						var route = "{{ path('controleNINEA') }}" + "/" + $('#inputmere').val();
						$.ajax({
						type: 'GET',
						url: route,
						async: false,
						dataType: "json",
						success: function (data) {
								
								if (data == 1) {
																		   
										document.getElementById("nin_nineamere").innerHTML="";
										$('#inputmere').removeClass('has_error');


									} else {
										
										document.getElementById("nin_nineamere").innerHTML="Ce NINEA n'existe pas.";
										$('#inputmere').addClass('has_error');
									}
						},
						error: function(error){
							console.log(error);	
						}
						});
					
				});	
				

				$("#btnRechercheNINEA").click(function() {
					var left = (screen.width/2)-(800/2);
					var top = (screen.height/2)-(500/2);
					if($('#idFormejuridique').val()==10 || $('#idFormejuridique').val()==99)
					  return window.open("{{path('recherche_NINEA',{id:10})}}", "nom_popup", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=800, height=500, top='+top+', left='+left);
					else
					if($('#idformeunite').val()==21){
					  return window.open("{{path('recherche_NINEA',{id:21})}}", "nom_popup", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=800, height=500, top='+top+', left='+left);
                       
					}else
					 if($('#idformeunite').val()==22){
					  return window.open("{{path('recherche_NINEA',{id:22})}}", "nom_popup", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=800, height=500, top='+top+', left='+left);
                       
					}
					
					
				});

			
		

			} 
			else
			{
				//document.getElementById("id_sauvegarder").disabled = false;
			}

		});


		$("#idtypdocument").change(function(){
			if($("#idtypdocument").val()==1)
				$("#iddocument").inputmask('SN AAA 9999 A 99999');
			else
			  $("#iddocument").inputmask('');

			 $("#iddatedocument").val('');
			 $("#iddocument").val('');

			
		});


		$("#iddocument").change(function()
		{
			if( $("#idtypdocument").val()==1)
			{
				var registre = $("#iddocument").val();
				var registrenormal1 = registre.replace(/ /g, "");
				var registrenormal2 = registrenormal1.split('_').join('').trim();
				let juridiction = registrenormal2.substr(2,3);
				let route = "{{ path('controleRCCM') }}" + "/" + registrenormal2;


                 if($('#iddatedocument').val()!=""){
					var datedocument = new Date($('#iddatedocument').val());
					let anneeDatereg = datedocument.getFullYear();
                    let regcom = $("#iddocument").val();
					var registrenormal = regcom.replace(/ /g, "");
					let dateregcom = registrenormal.substr(5,4);
				
					if(anneeDatereg > dateregcom)
					{
						document.getElementById("idtabobservation").style.display = "block";
					}

					else
					{
						document.getElementById("idtabobservation").style.display = "none";
					}


				 }


				$.ajax
				({
					type: 'GET',
					url: route,
					success: function (data) 
					{
						if (data == 1) {
							document.getElementById('id_sauvegarder').setAttribute("disabled", true);
							document.getElementById('ninreg').innerHTML = "Ce numéro de registe existe déjà.";
							Swal.fire('Ce numéro de registe existe déjà.');
							$('#iddocument').addClass('has_error');
							$("#iddocument").focus();

						}
						else 
						{
							let datereg = registrenormal2.substr(5,4);
							let datecours = new Date();
							let anneecours = datecours.getFullYear();

							if (registrenormal2.length < 11)
							{
								Swal.fire('Numéro de registre incomplet.');
								$('#iddocument').addClass('has_error');
								$("#iddocument").focus();
							}							
							else
							{
								$('#iddocument').removeClass('has_error');
								document.getElementById('id_sauvegarder').removeAttribute("disabled");
								if($("#ni_nineaproposition_ninStatut").val()==1){
									if ($("#idFormejuridique").val() == 10) 
										var rccmnormalsociete = registrenormal2.indexOf("A", 9);
									else if($("#idFormejuridique").val() == 27 || $("#idFormejuridique").val() == 30 )
										var rccmnormalsociete = registrenormal2.indexOf("C", 9);
									else if($("#idFormejuridique").val() == 49 ){

										if (registrenormal2.indexOf("C", 9) != -1 || registrenormal2.indexOf("B", 9) != -1 )
											rccmnormalsociete = 9;
										else
										  rccmnormalsociete = -1;

									}
									else if($("#idFormejuridique").val() == 93 )
										var rccmnormalsociete = registrenormal2.indexOf("E", 9);
									else
									var rccmnormalsociete = registrenormal2.indexOf("B", 9);
								}else
									var rccmnormalsociete = registrenormal2.indexOf("E", 9);
									
									
								if (rccmnormalsociete == -1 ) {
									Swal.fire('Le format du RCCM saisi n\'est pas valide.');
									$('#iddocument').addClass('has_error');
									$('#iddocument').focus();
									document.getElementById('id_sauvegarder').setAttribute("disabled", true);
								}
								//juridiction
								else if (formatJuridiction(juridiction) == 0)
								{
									$('#iddocument').addClass('has_error');
									$('#iddocument').focus();
									Swal.fire('Le format du RCCM saisi n\'est pas valide: erreur sur la juridiction.');
									document.getElementById("ninreg").innerHTML = "Le format du RCCM saisi n\'est pas valide: erreur sur la juridiction.";
									document.getElementById('id_sauvegarder').setAttribute("disabled", true);

								}
								else if (datereg > anneecours)
										{
											Swal.fire("L'année du registre de commerce ne doit pas être postérieure à l'année en cours.");
											$('#iddocument').addClass('has_error');
											$('#iddocument').focus();
										}

								else {
									$('#iddocument').removeClass('has_error');
									document.getElementById('ninreg').innerHTML = "";
									document.getElementById('id_sauvegarder').removeAttribute("disabled");
								}
																		
							}
							
						}

					},
					error: function (error) 
					{
						console.log(error);
					}
				});
			}else{
                var iddocument = $("#iddocument").val();
			    if(formatRCCM(iddocument.replaceAll(' ',''))==0){
					
					let route = "{{ path('controleRCCM') }}" + "/" + iddocument;
					$.ajax
					({
						type: 'GET',
						url: route,
						success: function (data) 
						{
							if (data == 1) {
								document.getElementById('id_sauvegarder').setAttribute("disabled", true);
								document.getElementById('ninreg').innerHTML = "Ce numéro du document de création existe déjà.";
								Swal.fire('Ce numéro du document de création existe déjà.');
								$('#iddocument').addClass('has_error');
								$("#iddocument").focus();

							}
							else 
							{
								$('#iddocument').removeClass('has_error');
								document.getElementById('ninreg').innerHTML = "";
								document.getElementById('id_sauvegarder').removeAttribute("disabled");
								
							}

						},
						error: function (error) 
						{
							console.log(error);
						}
					});
                }else{
                   
				    //document.getElementById('id_sauvegarder').setAttribute("disabled", true);
					document.getElementById('ninreg').innerHTML = "Le format est invalide.";
					Swal.fire('Le format est invalide.');
					$('#iddocument').addClass('has_error');
					$("#iddocument").focus();

				}

			}
		});


		//affichage variables suivant le régime juridique
		$("#idFormejuridique").change(function() {
			
			document.getElementById("idtypdocument").innerHTML = "";
			 $("#iddatedocument").val('');
			 $("#iddocument").val('');
			 $("#iddocument").inputmask('');

		    let route = "{{ path('findTypedocument') }}" + "/" + $("#idFormejuridique").val();
			$.ajax
			({
				type: 'GET',
				url: route,
				success: function (data) 
				{
					let tbdocuments = document.getElementById("idtypdocument");
					tbdocuments.innerHTML = "";

					if(data.length==0){

						document.getElementById("iddatedocument").setAttribute("disabled", true);
						document.getElementById("iddocument").setAttribute("disabled", true);
						document.getElementById("idtypdocument").setAttribute("disabled", true);
						document.getElementById("idenseigne").setAttribute("disabled", true);
			            $("#id_hidden").val(1);

						
						
					}else{
						document.getElementById("iddatedocument").removeAttribute("disabled");
						document.getElementById("iddocument").removeAttribute("disabled");
						document.getElementById("idtypdocument").removeAttribute("disabled");
						document.getElementById("idenseigne").removeAttribute("disabled");
			            $("#id_hidden").val(0);

					}

					if(data.length>1){
						let opt = document.createElement('option');
							opt.innerHTML = "Sélectionner ...";
							opt.value = '';
							tbdocuments.add(opt);
					}else{
						if(data[0][0]==1){
							$("#iddocument").inputmask('SN AAA 9999 A 99999');
						}
					}

					for(var i=0;i<data.length;i++){
							let opt = document.createElement('option');
							opt.value = data[i][0];
							opt.innerHTML =data[i][1];
							tbdocuments.add(opt);
					}

					
				},
				error: function (error) 
				{

					console.log(error);
				}
			});
		
		});


		$("#iddatedocument").blur(function()
		{
						let table_doc = document.getElementById("tb_documents");
	
						var datedocument = new Date($('#iddatedocument').val());
						var dateDuJour = new Date();
						let anneeDatereg = datedocument.getFullYear();
						let datereg = $('#iddatedocument').val();
						let datregannee = datereg.substr(0, 4);
						
							if (datedocument > dateDuJour) 
							{
								//document.getElementById("inputdatereg").value = new Date("");
								Swal.fire('La date du registre de commerce ne doit pas être postérieure à la date du jour.');
								
							}
							else
							{
								
								if (anneeDatereg < "1900")
								{
									//document.getElementById("inputdatereg").value = new Date("");
									Swal.fire("La date du registre de commerce ne doit pas être antérieure à l'année 1900.");
							
								}
								else 
								{

									if($("#idtypdocument").val()==1){
									  let regcom = $("#iddocument").val();
									  var registrenormal = regcom.replace(/ /g, "");
									  let dateregcom = registrenormal.substr(5,4);
									
									   if(anneeDatereg > dateregcom)
										{
											document.getElementById("idtabobservation").style.display = "block";
										}
	
										else
										{
											document.getElementById("idtabobservation").style.display = "none";
										}
	
										if (anneeDatereg < dateregcom)
										{
											
											//document.getElementById("id_sauvegarder").setAttribute("disabled", true);
											$("#iddatedocument").addClass("has_error");
											document.getElementById("iddatedocument").innerHTML = "La date du registre de commerce ne doit pas être antérieure à la date de création du registre.";
											Swal.fire("La date du registre de commerce ne doit pas être antérieure à la date de création du registre.");
											
										}
										
										else
										{
											//document.getElementById("id_sauvegarder").removeAttribute("disabled");
											$("#iddatedocument").removeClass("has_error");
											document.getElementById("iddatedocument").innerHTML = "";
											
										}
									}else{
											document.getElementById("idtabobservation").style.display = "none";
											//document.getElementById("id_sauvegarder").removeAttribute("disabled");
											$("#iddatedocument").removeClass("has_error");
											document.getElementById("iddatedocument").innerHTML = "";
											
									}
									
									
								}
								
							} 
						
					
		});

		
		$("#id_sauvegarder").click(function() {
			if ($("#ni_nineaproposition_ninStatut").val() != "")
			{

			       if($("#id_hidden").val()==0)  {  ;

						if ($("#idtypdocument").val() != "")
						{
							if ($("#iddocument").val() != "")
							{

								if ($("#iddatedocument").val() != "")
									{
										if( $("#idtypdocument").val()==1){

											if(controlRCCM($("#iddocument").val(),$("#idFormejuridique").val(),$("#ni_nineaproposition_ninStatut").val())==""){
												
												if(controlDateRCCM($("#iddatedocument").val(),$("#iddocument").val())=="")
												
												if ($("#ni_nineaproposition_ninStatut").val() == 1)
												{
														var datedocument = new Date($("#iddatedocument").val());
														let anneeDatereg = datedocument.getFullYear();
														let regcom = $("#iddocument").val();
														var registrenormal = regcom.replace(/ /g, "");
														let dateregcom = registrenormal.substr(5,4);
														if(anneeDatereg != dateregcom)
															{
																if ($("#observation").val() != "")
																{
																	$('#cover-spin').show(0);

																	$(this).closest("form").submit();
																}
																	
																else{
																	Swal.fire("Le champ Observation ne peut pas être vide.")
																}
																	
															}else
															{
																$('#cover-spin').show(0);

																$(this).closest("form").submit();
															}
																
												}else{
													
														if ($("#inputmere").val() != "")
															$(this).closest("form").submit();
														else{
															Swal.fire("Le champ  ninea mére  ne peut pas être vide.")
														}

												}

												else 
												Swal.fire(controlDateRCCM($("#iddatedocument").val(),$("#iddocument").val()));
												

											}else{

												Swal.fire(controlRCCM($("#iddocument").val(),$("#idFormejuridique").val(),$("#ni_nineaproposition_ninStatut").val()));

											}

										}else{
											var iddocument = $("#iddocument").val();
											if(formatRCCM(iddocument.replaceAll(' ',''))==0)
											{
												$('#cover-spin').show(0);
												$(this).closest("form").submit();
											}else
												Swal.fire("Le format n'est pas valide.")

										}

									}else{
										Swal.fire("La date du document ne peut pas être vide.")
									}


							}else{
								Swal.fire("Le document ne peut pas être vide.")
							}
						}else{
							Swal.fire("Le type de document ne peut pas être vide.")
						}

				  } else
				  	{
						$('#cover-spin').show(0);
						$(this).closest("form").submit();
					}
				   
				
			}else{
                Swal.fire("Le statut ne peut pas être vide.");
			}
		});


		
    });
</script>

{% endblock %}
