<td>{{ form_widget(form.ninNom) }}</td>
<td>{{ form_widget(form.ninPrenom) }}</td>
<td>{{ form_widget(form.ninPosition) }}</td>
<td>{{ form_widget(form.ninNumero) }}</td>
<td>{{ form_widget(form.ninAddresse) }}</td>
<td>
	<button type="button" class="btn  btn-removeDirigeant">
		<i class="fas fa-times-circle"></i>
	</button>
</td>
