{% extends 'ninea.html.twig' %}

{% block title %}NiTypeConsequence{% endblock %}

{% block body %}
    <h1>NiTypeConsequence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ni_type_consequence.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ ni_type_consequence.libelle }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ ni_type_consequence.createdAt ? ni_type_consequence.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ ni_type_consequence.updatedAt ? ni_type_consequence.updatedAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ni_type_consequence_index') }}">back to list</a>

    <a href="{{ path('app_ni_type_consequence_edit', {'id': ni_type_consequence.id}) }}">edit</a>

    {{ include('ni_type_consequence/_delete_form.html.twig') }}
{% endblock %}
