
	<td width="10%;">{{ form_widget(form.libelleActivitePrincipale) }}</td>
	<td width="15%;"> 
		{{ form_widget(form.sYSCOA) }} <br><br>
		{{ form_widget(form.categorySyscoa) }} 

	</td>
	
	<td width="15%;">{{ form_widget(form.nAEMA) }}</td>
	<td width="15%;">{{ form_widget(form.nAEMAS) }}</td>
	<td width="15%;">{{ form_widget(form.cITI) }}</td>
	<td width="10%;">{{ form_widget(form.chiffreAffaire) }}</td>
	<td width="10%;"> {{ form_widget(form.valeurAjoutee) }}</td>
	<td width="10%;">{{ form_widget(form.pourcentage) }}</td>
	<td width="5%;">{{ form_widget(form.activitePrincipale) }}</td>

	<td><button type="button" class="btn  btn-delete"><i class="fas fa-times-circle"></i></button>
	