{% extends 'ninea.html.twig' %}

{% block title %}demandes{% endblock %}

{% block body %}

 

<div class="box mt-lg-2">
	<div class="box-header">
		<ul class="nav nav-tabs nav-tabs-left">
			<li class="active">
				<a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                  
                   Liste de demandes
				</a>
			</li>

          

		</ul>
	</div>

	<div class="box-content padded">

		<div class="tab-content">            
			<div class="example-wrapper ">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-body">
  
                         <table class="table table-bordered table-striped" id="demande">
                            <thead class="tr_entete p-4">
                                <tr>
                                    
                                    <th>Motif</th>
                                    <th>ninea</th>
                                    <th>Raison</th>
                                    <th>Service</th>
                                     <th>Agent demandeur</th>
                                    <th>Etat</th>
                                    <th>DateCessation</th>
                                    <th>Date de création</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for ni_cessation in ni_cessations %}
                                <tr>
                                
                                    <td>{{ ni_cessation.motif }}</td>
                                    
                                    <td>{{ ni_cessation.ninea is not null ? ni_cessation.ninea.ninNinea : '' }}</td>
                                    <td style=" word-break: break-all; width: 20%;">
                                        {% if ni_cessation.ninea is not null %}
                                            {% if  ni_cessation.ninea.formeJuridique.niFormeunite.id ==  21 or  ni_cessation.ninea.formeJuridique.niFormeunite.id ==  22 %}
                                                {{ ni_cessation.ninea.niPersonne != null ?  ni_cessation.ninea.niPersonne.ninRaison:"" }}
                                            {% elseif  ni_cessation.ninea.formeJuridique.niFormeunite.id ==  11 or  ni_cessation.ninea.formeJuridique.niFormeunite.id ==  12 %} 
                                                    {{ ni_cessation.ninea.niPersonne != null ?  ni_cessation.ninea.niPersonne.ninNom :"" }} {{ ni_cessation.ninea.niPersonne != null ?  ni_cessation.ninea.niPersonne.ninPrenom : "" }} 
                                            {% endif %}
                                        {% endif %}
                                       
                                    </td>
                                    <td>
                                    {% if ni_cessation.createdBy is not null %} 
                                       {% if ni_cessation.createdBy.niAdministration is not null %} 
                                                {{ ni_cessation.createdBy.niAdministration.admlibelle}}
                                        {% endif %}
                                    {% endif %}
                                    </td>
                                    <td>
                                     {% if ni_cessation.createdBy is not null %} 
                                      {{ ni_cessation.createdBy.prenom}} {{ ni_cessation.createdBy.nom}}
                                      {% endif %}
                                    </td>
                                    <td>
                                    {% if ni_cessation.etat == "a" %}
                                        <span class="badge badge-pill badge-soft-info font-size-11">En attendte de validation</span> 
                                    {% else %}
                                        {% if ni_cessation.etat == "r" %}
                                            <span class="badge badge-pill badge-soft-danger font-size-11">Rejeter</span> 
                                        {% else %}
                                            {% if ni_cessation.etat == "t" %}
                                                 <span class="badge badge-pill badge-soft-warning font-size-11">Retourner</span> 
                                            {% else %}
                                                <span class="badge badge-pill badge-soft-success font-size-11">Valider</span> 
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    </td>
                                    <td>{{ ni_cessation.dateCessation ? ni_cessation.dateCessation|date('d/m/Y') : '' }}</td>
                                    <td>{{ ni_cessation.createdAt ? ni_cessation.createdAt|date('d/m/Y') : '' }}</td>
                                    
                                    <td>
                                        <a href="{{ path('app_ni_cessation_show', {'id': ni_cessation.id}) }}" title="Détails"  class="btn btn-outline-success btn-sm edit" id="consultation">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        {% if ni_cessation.etat == "a" or  ni_cessation.etat == "t" %}
                                            <a href="{{ path('app_ni_cessation_edit', {'id': ni_cessation.id}) }}" title="Modifier" id="modification" class="btn btn-outline-primary btn-sm edit">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        
                               
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
								
		</div>
			
    </div>
</div>

   

   
{% endblock %}

{% block javascript %}

<script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>


<script>

    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
        "date-uk-pre": function ( a ) {
            if (a == null || a == "") {
                return 0;
            }
            var ukDatea = a.split('/');
            return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
        },
     
        "date-uk-asc": function ( a, b ) {
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },
     
        "date-uk-desc": function ( a, b ) {
            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }

    });

    $("#demande").DataTable({
         columnDefs: [
            { type: 'date-uk', targets: 6 }
          ],
          
          "order": [7, "desc" ],


        "sDom": 'f<"top">tip',
        "language": {

            "processing": "Traitement en cours...",

            "search": "Rechercher",

            "width": "10%",

            "lengthMenu": "Afficher _MENU_ ",

            "info": "Affichage de _START_ &agrave; _END_ sur _TOTAL_ ",

            "infoEmpty": "Affichage de 0 &agrave; 0 sur 0 ",

            "infoFiltered": "(filtr&eacute; de _MAX_  au total)",

            "infoPostFix": "",

            "loadingRecords": "Chargement en cours...",

            "zeroRecords": "Rien &agrave; afficher",

            "emptyTable": "Aucune donnée disponible dans le tableau",

            "paginate": {

                first: "Premier",

                previous: "Pr&eacute;c&eacute;dent",

                next: "Suivant",

                last: "Dernier"

            },

        }
    });
</script>
{% endblock %}
