{% extends 'ninea.html.twig' %}

{% block title %}cessation{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{ asset('admin/dist/assets/libs/select2/css/select2.min.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

<div class="box mt-lg-5">
	<div class="box-header">
		<ul class="nav nav-tabs nav-tabs-left">
			<li class="active">
				<a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                  
                  {% if ind == 1 %}
                    
                    Demande de radiation

                  {% else %}

                    Demande de suspension

                  {% endif %}
				</a>
			</li>

          

		</ul>
	</div>

	<div class="box-content padded">

		<div class="tab-content">            
			<div class="example-wrapper ">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-body">
  

                            {% for message in app.session.flashbag.get('message')%}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
            
                            {% endfor %}

                            {% for message in app.session.flashbag.get('errorDateCessation')%}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
            
                            {% endfor %}

                            {{ include('ni_cessation/_form.html.twig') }}

                       
                                
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
								
		</div>
			
    </div>
</div>
  

   

   
{% endblock %}

{% block javascript %}
    <script src="{{ asset( 'admin/dist/assets/libs/sweetalert2/sweetalert2.min.js')}} "></script><!-- Sweet alert init js-->
    <script src="{{ asset( 'admin/dist/assets/js/pages/sweet-alerts.init.js')}} "></script>
<script>



    $(document).ready(function () {

        document.getElementById("idAutrePreciser").style.display = "none";
        document.getElementById("idPrecision").style.display = "none";


        // function permettant de surveiller l'intervalel date de cessation qui ne doit pas etre antérieure à la date de creation de l'unité 
        // ni posterieure  à la date d'aujourd,hui 
        
        $(".dateCessation").on("change, blur", "#idDateCessation", function(event){

            var rte = "{{ path('app_date_create_unite') }}" + "/" + $('#inputmere').val();

            $.ajax({
                type: 'GET',
                url: rte,
                async: false,
                dataType: "json",
                success: function (data) {

                    // definir la date du jour day 
                    var $dayToday = new Date();

                    var localdate= $dayToday.getFullYear() + '-' + ($dayToday.getMonth()+1) + '-' + $dayToday.getDate();

                    var meridianDate =  document.getElementById("idDateCessation").value;

                    console.log(localdate);
                        
                        if(new Date(meridianDate) < new Date(data)){

                            Swal.fire('oups date de cessation ne doit etre anterieure à la date de creation de l\'unité');
                            document.getElementById("idDateCessationError").innerHTML="Error : date de cessation ne doit etre anterieure à la date de creation de l\'unité";
                            $('#idDateCessationError').addClass('has_error');

                        }else{
                            document.getElementById("idDateCessationError").innerHTML="";
                            $('#idDateCessationError').removeClass('has_error');

                        }
                        if (new Date(meridianDate) > new Date(localdate)){
                                                                   
                            Swal.fire('oups date de cessation ne doit etre postérieure à la date du jour');
                            document.getElementById("idDateCessationError").innerHTML="Error : date de cessation ne doit etre postérieure à la date du jour";
                            $('#idDateCessationError').addClass('has_error');


                        }else{

                        }
                },
                error: function(error){
                    console.log(error);	
                }
            });            
            
        });

        // tratement du select option autre à preciser 

        $("#idConsequence").change(function() 
        {
            var $conseqValue = document.getElementById("idConsequence").value;
            console.log($conseqValue);

            if($conseqValue != "Autre à préciser"){
                document.getElementById("idAutrePreciser").style.display = "none";
                document.getElementById("idPrecision").style.display = "none";
            }else{

                // creer en js un input text pour preciser champ 
                document.getElementById("idAutrePreciser").style.display = "block";
                document.getElementById("idPrecision").style.display = "block";

            }
        });	


        /*$("#idAutrePreciser").change(function() 
        {
            var $autrePrecision = document.getElementById("idAutrePreciser").value;


            //document.getElementsByTagName("ni_cessation[consequences]").value = $autrePrecision;
            document.getElementById("idConsequence").value = $autrePrecision;

            var opt = document.createElement('option');
            opt.value = $autrePrecision ;
            opt.setAttribute('selected', true);
            opt.innerHTML = $autrePrecision;

            document.getElementById("idConsequence").add(opt);
            //alert(document.getElementsByTagName("ni_cessation[consequences]").value);

            console.log(document.getElementById("idConsequence").value);

        });	*/




        $("#inputmere").change(function() 
        {
                var route = "{{ path('controleNINEA') }}" + "/" + $('#inputmere').val();
                $.ajax({
                type: 'GET',
                url: route,
                async: false,
                dataType: "json",
                success: function (data) {
                        
                        if (data == 1) {
                                                                   
                                document.getElementById("nin_nineamere").innerHTML="";
                                $('#inputmere').removeClass('has_error');


                            } else {
                                
                                document.getElementById("nin_nineamere").innerHTML="Ce NINEA n'existe pas.";
                                $('#inputmere').addClass('has_error');
                            }
                },
                error: function(error){
                    console.log(error);	
                }
                });
            
        });	
    
        $("#btnRechercheNINEA").click(function() {
            var left = (screen.width/2)-(800/2);
            var top = (screen.height/2)-(500/2);
            {% if ind == 1 %}
                 return window.open("{{path('recherche_NINEA_Personnemorale')}}", "nom_popup", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=800, height=500, top='+top+', left='+left);
            {% else %}
                return window.open("{{path('recherche_NINEA_Personnephysique')}}", "nom_popup", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=800, height=500, top='+top+', left='+left);
            {% endif %}
        });

    });

</script>

{% endblock %}