{% extends 'base.html.twig' %}

{% block title %}Vérification des données n-1 fournies en n-1  {% endblock %}
{% block stylesheets %}
<style type="text/css">
    .box {
       width: 800px;
       margin: auto;
    }
    .active_tab1{
       background-color: #fff;
       color: #333;
       font-weight: 600;
    }
    .inactive_tab1{
       background-color: #f5f5f5;
       color: #333;
       cursor: not-allowed;
    }

    .has_error{
       background-color: #E8F0FE;
       border-color: red;
      
    }
 </style>
<link href="{{ asset('static/vendors/google-code-prettify/bin/prettify.min.css')}}" rel="stylesheet">
<!-- Select2 -->
<link href="{{ asset('static/vendors/select2/dist/css/select2.min.css')}}" rel="stylesheet">
<!-- Switchery -->
<link href="{{ asset('static/vendors/switchery/dist/switchery.min.css')}}" rel="stylesheet">
<!-- starrr -->
<link href="{{ asset('static/vendors/starrr/dist/starrr.css')}}" rel="stylesheet">          
{% endblock %}
{% block body %}

                {% for message in app.flashes('notice') %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <i class="mdi mdi-alert-outline me-2"></i>
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                {% endfor %}


                <div class="row ">
                    
                            <div class="col-xl-12 " >
                                <div class="card " style="-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175);box-shadow:0 1rem 3rem rgba(0,0,0,.175)">
                                    <div class="card-body" style="border: 1px solid #ccc;">
                                        <h4 class="card-title mb-4 text-center" >Vérification des données n-1 fournies en n </h4>

                                        <form name="myForm" method="post" onsubmit="return validateForm();" style="margin: auto; width: 50%; margin-left : 35vw; ">
                                            <div class="row mb-2">
                                                <label for="horizontal-firstname-input" class="col-sm-2 col-form-label" >Année</label>
                                                <div class="col-sm-4">
                                                  <input type="text" required class="form-control form-control-sm input-mask" data-inputmask="'mask': '9999'" id="annne-input" name="annee-input" placeholder="Enter année fin ">
                                                </div>
                                            </div>
                                            
                                            <div class="row mb-2">
                                                <label for="horizontal-firstname-input" class="col-sm-2 col-form-label" >Table</label>
                                                <div class="col-sm-4">
                                                   <select id="format-input" required name="table" class=" form-control form-control-sm">
                                                    <option value="">Choisir un tableau...</option>
                                                    <option value="1">Bilan </option>
                                                    <option value="2">Compte de Résultats </option>
                                                    <option value="3">Etat des Flux de trésoreries </option>
                                                   </select>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <label for="horizontal-firstname-input" class="col-sm-2 col-form-label" ></label>
                                                <div class="col-sm-4">
                                                   <button type="submit" class="btn btn-secondary w-md">Générer rapport </button>
                                                </div>
                                            </div>

                                            <div class="row justify-content-end">
                                                <div class="col-sm-10">
                                                    <div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->

                </div>

{% endblock %}

{% block javascript %}

        <!-- form mask init -->
        <script src="{{ asset('admin/dist/assets/libs/inputmask/min/jquery.inputmask.bundle.min.js')}}"></script>
        <script src="{{ asset('admin/dist/assets/js/pages/form-mask.init.js')}}"></script>

        <!-- materialdesign icon js-->
        <script src="{{ asset('admin/dist/assets/js/pages/materialdesign.init.js')}}"></script>


        <script>
            function validateForm() {
                let x = document.forms["myForm"]["annee-input"].value;
                if (x == "" ) {
                  alert("Année ou numéro Cuci ne doit pas être vide !");
                  return false;
                }
            }
        </script>


{% endblock %}
