{% extends 'base.html.twig' %}

{% block title %}NiAdministration{% endblock %}

{% block body %}
    <h1>NiAdministration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ni_administration.id }}</td>
            </tr>
            <tr>
                <th>Admcode</th>
                <td>{{ ni_administration.admcode }}</td>
            </tr>
            <tr>
                <th>Admlibelle</th>
                <td>{{ ni_administration.admlibelle }}</td>
            </tr>
            <tr>
                <th>AdmContactDetails</th>
                <td>{{ ni_administration.admContactDetails }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ni_administration_index') }}">back to list</a>

    <a href="{{ path('app_ni_administration_edit', {'id': ni_administration.id}) }}">edit</a>

    {{ include('ni_administration/_delete_form.html.twig') }}
{% endblock %}
