
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# {% extends "base.html.twig" %} #}
        {% block stylesheets %}
            <!-- Bootstrap Css -->
        <link href="{{ absolute_url(asset('admin/dist/assets/css/bootstrap.min.css'))}}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{ absolute_url(asset('admin/dist/assets/css/icons.min.css'))}}" rel="stylesheet" type="text/css" />

        <style>

                
            body {
                width: 95% !important;
                height: 100% !important;
                background: url("{{ absolute_url(asset('admin/dist/assets/images/logos/workOrder.id.png')) }}") no-repeat;
                -webkit-background-size: cover;
                -o-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                padding: 15px 15px 15px 15px;
            }
            .body2{
                background-image: {{ absolute_url(asset('admin/dist/assets/images/logos/workOrder.id.png')) }};
            }
            #divOne{
                margin:0 auto;       
                width:400px;
                text-align:center;
                border: 1px solid black;
            }
            #tblOne{
                width:300px;
                margin:0 auto;       
                border: 0px solid white;
                border-top: 0;
                border-bottom: 0;            
            }

            td{
                font-family: Calibri;
                text-align: left;
            }
            th{
                font-family: Calibri;
                text-align: left;
            }
            #tbltwo{
                width:700px;
                margin-left: 100px;       
            }
        </style>


        {% endblock %}
    </head>
    <body>
        {% block body %}
        
            <div class="container">
                    <div class="row-lg-12">
                        
                    </div>
                    <div class="row ">
                        
                    </div>
                    <div class="row-lg-12 mb-5">
                        
                    </div>
                    <!-- ici sera le header -->
                     <div class="row justify-content-between">
                        <div class="col-md-5" >
                        <h2 class="text-title " style="font-weight: bold; font-family: Calibri; font-size: 20px;">REPUBLIQUE DU SENEGAL <br/>MINISTERE DE L'ECONOMIE, <br/>DU PLAN ET DE LA COOPERATION<span class="badge "></span></h2>
                        </div>
                        <div class="col-md-1 p-3" >
                            {# util pour espacing #}
                            <img src="{{ absolute_url(asset('admin/dist/assets/images/logos/newlogo1.png'))}}"  height="55">

                        </div>
                        <div class="col-md-1 p-3 " >
                        </div>
                        <div class="col-md-5">
                            <h2 class="text-title text-right" style="font-weight: bold; font-family: Calibri; font-size: 20px;">Décret N° 2012 - 886 du 27/08/2012 abrogeant et remplaçant le décret </br> N° 95 - 364 du 14/04/1995</h2>
                        </div>
                    </div>
                    <!-- ici sera le end header -->

                    <!-- afficher le title Avis d'immatriculation-->

                    <div class="mt-5" id="divOne">
                        <table id="tblOne">
                            <tr>
                                <td>
                                        <h4 class="text-title text-center" style="font-weight: bold; font-family: Calibri;">AVIS D' IMMATRICULATION</h4>
                                
                                </td>
                            </tr>
                        </table>
                    </div>
                    </br></br>
                    <p class="card-title text-center font-size-10">
                        Le <code>numéro</code> ci-dessous vous est définitivement attribué à la suite des modifications intervenues
                        dans le nouveau systéme d'immatriculation.
                    </p>

                    
                    <div class="row">              
                        <div class="col-xl-6 ">            
                            <table class="table table-sm m-0" style="border: #FFFFFF;" id="tbltwo">
                                <thead >
                                    <tr >
                                        <th style="text-align: right; font-size: x-large;" scope="row">N.I.N.E.A :</th>
                                        <td style="text-align: left; font-size: x-large;" >{{some.ninNinea}}</td>
                                    </tr>
                                    <tr style="text-align: left;">
                                        <th  style="text-align: right;" scope="row">DATE D'IMMATRICULATION :</th>
                                        <td style="text-align: left;">{{some.createdAt ? some.createdAt|date('d/m/Y') : '' }}</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    {# begin premier tab#}
                        <div class="row mt-5">
                            <div class="col-xl-6">
                                <!--<div class="card">-->
                                    <!--<div class="card-body"> -->                           
                                        <div class="table-responsive">
                                            <table class="table table-sm m-0" style="border: #900922; ">
                                                <thead>
                                                    <tr>
                                                    </tr>
                                                </thead>
                                                <tbody class="tbody2">
                                                    <tr>
                                                        <th >DENOMINATION</th>
                                                        <td scope="row" colspan="3">{{denom_sociale}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th >ENSEIGNE COMMERCIALE</th>
                                                        <td scope="row" colspan="3">{{some.ninEnseigne}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th >SIGLE</th>
                                                        <td scope="row" colspan="3">{{some.ninSigle}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>REGION</th>
                                                        <td scope="row" colspan="3">
                                                            {% if some.niCoordonnees|length - 1 != -1 %}
                                                                {{some.niCoordonnees[some.niCoordonnees|length - 1].qvh.qvhCACRID.cacrCAVID.cavDEPID.depRegCD.libelle}}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>DEPARTEMENT</th>
                                                        <td scope="row" colspan="3">
                                                            {% if some.niCoordonnees|length - 1 != -1 %}
                                                                {{some.niCoordonnees[some.niCoordonnees|length - 1].qvh.qvhCACRID.cacrCAVID.cavDEPID.description}}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>COMMUNE/ARRONDISSEMENT/VILLE</th>
                                                        <td scope="row" colspan="3">
                                                            {% if some.niCoordonnees|length - 1 != -1 %}
                                                                {{some.niCoordonnees[some.niCoordonnees|length - 1].qvh.qvhCACRID.cacrCAVID.libelle}}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>ADRESSE DE L'ETABLISSEMENT/BP</th>
                                                        <td scope="row" colspan="3">
                                                            {% if some.niCoordonnees|length - 1 != -1 %}
                                                                {{some.niCoordonnees[some.niCoordonnees|length - 1].ninnumVoie}} {{some.niCoordonnees[some.niCoordonnees|length - 1].ninTypeVoie ? some.niCoordonnees[some.niCoordonnees|length - 1].ninTypeVoie.tyvlibelle:""}} {{some.niCoordonnees[some.niCoordonnees|length - 1].ninVoie}}
                                                                {{some.niCoordonnees[some.niCoordonnees|length - 1].ninadresse1}}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th >TELEPHONE FIXE</th>
                                                        <td>
                                                            {% if some.niCoordonnees|length - 1 != -1 %}
                                                                {{some.niCoordonnees[some.niCoordonnees|length - 1].nintelephon2}}
                                                            {% endif %}
                                                        </td>
                                                        <th >TELEPHONE PORTABLE</th>
                                                        <td>
                                                            {% if some.niCoordonnees|length - 1 != -1 %}
                                                                {{some.niCoordonnees[some.niCoordonnees|length - 1].ninTelephon1}}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <!--</div>-->
                                <!--</div>-->
                            </div>                
                        </div>
                        <!-- end row -->


                    {# begin premier tab#}
                        <div class="row mt-4">
                            <div class="col-xl-6">
                                <!--<div class="card">-->
                                    <!--<div class="card-body"> -->                           
                                        <div class="table-responsive">
                                            <table class="table table-sm m-0" style="border: #6d071a;">
                                                <thead>
                                                    <tr>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th >FORME JURIDIQUE</th>
                                                        <td scope="row" colspan="3">{{some.formeJuridique.fojLibelle}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>ACTIVITE EXERCEES</th>
                                                        <td scope="row" colspan="3">
                                                            {% if some.ninActivite|length - 1 != -1 %}
                                                                {{some.ninActivite[some.ninActivite|length - 1].ninAutact}}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th >{{doc_create_txt | upper}}</th>
                                                        <td scope="row" colspan="3">{{doc_create}}</td>
                                                    </tr>
                                                    {% if doc_create_txt == "RCCM" %}
                                                        
                                                        <tr>
                                                            <th >{{ doc_rccm_txt|upper }}</th>
                                                            <td scope="row" colspan="3">{{some.ninDatreg ? some.ninDatreg|date('d/m/Y') : '' }}</td>
                                                        </tr>
                                                    {% else %}
                                                        <!--<tr>
                                                            <th >DATE DE DELIVRANCE DU DOCUMENT DE CREATION</th>
                                                            <td scope="row" colspan="3">{{some.updatedAt ? some.updatedAt|date('d/m/Y') : '' }}</td>
                                                        </tr>
                                                        -->
                                                        
                                                    {% endif %}
                                                    <tr>
                                                        <th>CAPITAL SOCIAL</th>
                                                            {% if some.ninActivitesEconomiques|length - 1 != -1 %}
                                                            <td scope="row" colspan="3">
                                                                {{some.ninActivitesEconomiques[some.ninActivitesEconomiques|length - 1].ninCapital}}
                                                            </td> 
                                                            
                                                            {% else %}
                                                            <td scope="row" colspan="3">0</td> 

                                                            {% endif %}
                                                    </tr>
                                                    <tr>
                                                        <th>EFFECTIF TOTAL</th>
                                                        <td>
                                                            {% if some.ninActivitesEconomiques|length - 1 != -1 %}
                                                                {{some.ninActivitesEconomiques[some.ninActivitesEconomiques|length - 1].ninEffectif + some.ninActivitesEconomiques[some.ninActivitesEconomiques|length - 1].ninEffect1}}
                                                            {% endif %}
                                                        </td>
                                                        <th>EFFECTIF PERMANENT </th>
                                                        {% if some.ninActivitesEconomiques|length - 1 != -1 %}
                                                            <td>{{some.ninActivitesEconomiques[some.ninActivitesEconomiques|length - 1].ninEffect1}}</td>                                                
                                                        {% else %}
                                                            <td>0</td>                                                
                                                        {% endif %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <!--</div>-->
                                <!--</div>-->
                            </div>                
                        </div>
                        <!-- end row -->


                    <!--<div class="card border-dark mb-1">-->
                    <!--<div class="card-body">-->
                        <p class="card-title text-center font-size-12 mt-5" >En cas de désaccord sur les <code>renseignements</code> portés sur cet avis, 
                                veuillez y apporter les rectifications souhaitées et le retourner à:
                        </p>
                        {# centre d'immatriculation est une $vars#}
                        {# <h4 class="text-center " style="font-weight: bold;">SERVICE REGIONAL DE LA STATISTIQUE ET DE LA DEMOGRAPHIE DE DIOURBEL</h4> #}
                        {# <h5 class="text-center " style="font-weight: bold;">{{some.createdBy.niAdministration.admlibelle|upper}}</h4> #}

                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <!--<div class="card border">-->
                                    <!--<div class="card-body">-->
                                        {% if admin_csi %}
                                            <h4 class="text-center " style="font-weight: bold;">{{admin_csi.createdBy.niAdministration.admlibelle|upper}}</h4>
                                        {% endif %}
                                        <p class="card-text text-center font-size-16">
                                            {{admin_csi.createdBy.niAdministration.admContactDetails}}
                                        </p>
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    <!--</div>-->
                    <!--</div>-->

                                    <div class="row mt-4 ">        
                                        <div class="col-lg-7">
                                            <div class=" border border-danger">
                                                <!--<div class="card-body">-->
                                                    <p class="card-text font-size-16">Le NINEA doit obligatoirement figurer sur toutes les quittances, factures ou lettres reçues ou établies par vous et sur les actes,
                                                        déclarations ou piéces produits, émis ou passés dans vos relations avec les Administrations Publiques ou Privées et les Entreprises.
                                                        Il vous est par conséquent demandé de prendre les dispositions utiles pour vous conformer à la législation.
                                                    </p>
                                                <!--</div>-->
                                            </div>
                                        </div>

                                        <div class="col-lg-5 m-0" style="padding-bottom: 0px; padding-left: 101px;">
                                            {% if qrcode %}
                                                <img src="{{ qrcode }}" class="img-thumbnail " alt="qr-code generated-">
                                            {% endif %}
                                            
                                        </div>
                    
                                    </div>
                                    <!-- end row -->


                                    <div class="row mt-5">
                                        <div class="col-sm-6 d-flex justify-content-left">
                                        <h4 class="" style="padding-left: 100pt;">VISA DU CNI</h4>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="text-sm-end d-none d-sm-block">
                                                <a href="#" class="font-size-18">

                                                    {#Dakar, le {{ some.ninCreation ? some.ninCreation|date('d-m-Y H:i') : 'Unavailable' }}#}
                                                    Dakar, le {{ "now"|date('d/m/Y') }}
                                                </a> 
                                            </div>
                                        </div>
                                    </div>
            </div>

                <!-- alerte popup embeded l'avis -->
            {% block javascripts %}

                    <!-- JAVASCRIPT -->
                    <script src="{{ absolute_url(asset("admin/dist/assets/libs/jquery/jquery.min.js"))}}"></script>
                    <script src="{{ absolute_url(asset("admin/dist/assets/libs/bootstrap/js/bootstrap.bundle.min.js"))}}"></script>
                    <script src="{{ absolute_url(asset("admin/dist/assets/libs/metismenu/metisMenu.min.js"))}}"></script>
                    <script src="{{ absolute_url(asset("admin/dist/assets/libs/simplebar/simplebar.min.js"))}}"></script>
                    <script src="{{ absolute_url(asset("admin/dist/assets/libs/node-waves/waves.min.js"))}}"></script>
                    <!-- masonry pkgd -->
                    <script src="{{ absolute_url(asset("admin/dist/assets/libs/masonry-layout/masonry.pkgd.min.js"))}}"></script>

            {% endblock %}
        {% endblock %}
    </body>
</html>
