{% extends 'ninea.html.twig' %} {% block title %}NiNineaproposition index {% endblock %} {% block stylesheets %}
<!-- DataTables -->
<link href="{{ asset('admin/dist/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />


	<!-- Icons Css -->
	<link	href="{{ asset('admin/dist/assets/css/icons.min.css')}}" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery-ui.theme.min.css')}}" id="app-style" rel="stylesheet" type="text/css"/>

<style>
    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
      }
      
      .ui-autocomplete > li > div {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333333;
        white-space: nowrap;
      }
      
      .ui-state-hover,
      .ui-state-active,
      .ui-state-focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
        cursor: pointer;
      }
      
      .ui-helper-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

    {#   #ninea tr:nth-child(even) {
        background-color: #ddd9d9;
      } #}
     
</style>
{% endblock %} {% block body %}


        <div class="box mt-4">
            <form action="" method="get" autocomplete="off">
                <div class="box-header">
                    <ul class="nav nav-tabs nav-tabs-left">
                        <li class="active">
                            <a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                                Consultation
                            </a></li>
            
                    </ul>
                </div>
            
                <div class="box-content padded">
            
                    <div class="tab-content">            
            
                        <div class="card">
                            <div class="card-body">
                
                                {% for message in app.session.flashbag.get('message')%}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                
                                {% endfor %}
                
                                <div class="row">
                                    <div class="col-lg-6">
                                        <table width="100%" >
                                            <tr>
                                                <td style="width: 40%;"><label for=""><b><u> N° NINEA : </u></b> </label></td>
                                                <td style="width: 60%;">
                                                    <input type="text" name="numNinea"  id="inputmere" {% if numNinea !="" %} value="{{numNinea}}" {% endif %} 
                                                    class="form-control form-control-sm " oninput="this.value = this.value.replace(/[^0-9,]/g, '');">
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td style="width: 40%;"><label for=""><b><u> CNI/Passport:</u></b> </label></td>
                                                <td style="width: 60%;">
                                                    <input class="form-control form-control-sm" type="text" name="cni/passport" id="id_cni"   oninput="this.value = this.value.replace(/[^A-Za-z0-9]/g, '');" 
                                                     {% if cni !="" %} value="{{cni}}" {% endif %}  onkeyup="this.value=this.value.toUpperCase()"> 
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 40%;"><label for="" ><b><u> Date de naissance : </u></b> </label></td>
                                                <td style="width: 60%;"><input class="form-control form-control-sm" type="date" name="datenais" id="id_datenais"
                                                    {% if datenais !="" %} value="{{datenais|format("Y-m-d")}}" {% endif %}>
                                                </td>
                                            </tr>
                                            <tr class="mt-2">
                                                <td style="width: 30%;"><label for=""><b><u> Téléphone : </u></b> </label></td>
                                                <td style="width: 70%;"><input class="form-control form-control-sm" type="text" name="telephone" id="id_telephone"
                                                    {% if telephone !="" %} value="{{telephone}}" {% endif %}></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%;"><label for=""><b><u> Email : </u></b> </label></td>
                                                <td style="width: 70%;"><input class="form-control form-control-sm" type="text" name="email" id="id_email"
                                                    {% if email !="" %} value="{{email}}" {% endif %}></td>
                                            </tr>

                                            
                                        </table>   
                                    </div>
                                    
                                    <div class="col-lg-6">
                                        
                                        <table width="100%">  
                                            <tr>
                                                <td style="width: 40%;"><label for=""><b><u> Adresse : </u></b> </label></td>
                                                <td style="width: 60%;"><input type="text" name="adresse" id="id_raison" onkeyup="this.value=this.value.toUpperCase()" class="form-control form-control-sm"
                                                    {% if adresse !="" %} value="{{adresse}}" {% endif %}>
                                                </td>
                                            </tr>   
                                            <tr>
                                                <td style="width: 40%;"><label for=""><b><u> Raison sociale : </u></b> </label></td>
                                                <td style="width: 60%;"><input type="text" name="raisonsociale" id="id_raison" onkeyup="this.value=this.value.toUpperCase()" class="form-control form-control-sm"
                                                    {% if raison !="" %} value="{{raison}}" {% endif %}>
                                                </td>
                                            </tr>
                                            <tr class="mt-2">
                                                <td style="width: 40%;"><label for=""><b><u> Sigle:</u></b> </label></td>
                                                <td style="width: 60%;"><input type="text" onkeyup="this.value=this.value.toUpperCase()" name="sigle"  id="id_sigle" class="form-control form-control-sm"
                                                    {% if sigle !="" %} value="{{sigle}}" {% endif %}></td>
                                            </tr>
                                            <tr class="mt-2">
                                                <td style="width: 40%;"><label for=""><b><u> Enseigne : </u></b> </label></td>
                                                <td style="width: 60%;"><input type="text" onkeyup="this.value=this.value.toUpperCase()" name="enseigne" id="id_enseigne" class="form-control form-control-sm"
                                                    {% if enseigne !="" %} value="{{enseigne}}" {% endif %}></td>
                                            </tr>                                                          
                                            <tr class="mt-2" >
                                                <td style="width: 30%;"><label for=""><b><u> Numéro de document de création: </u></b> </label></td>
                                                <td style="width: 70%;"><input onkeyup="this.value=this.value.toUpperCase()" class="form-control form-control-sm" type="text" name="regcom" id="id_registre"
                                                    {% if numreg !="" %} value="{{numreg}}" {% endif %}>
                                                </td>
                                            </tr>
                                                                    
                                        </table>   
                                    </div>
                                </div>                                                                                              

                                                                
                                    
                            </div>
                        </div>
                                            
                    </div>
                        
                </div>
                
                <div class="box-footer">

                    <input type="submit"  value="Consulter" name="filtre" >
                    <input type="button"  value="Vider" name="vider" id="id_vider">
                </div>
                
            </form>
        
        </div>



   <div class="box">

	<div class="box-header">
		<ul class="nav nav-tabs nav-tabs-left">
			<li class="active">
            	<a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
					NINEA 
                  </a>
                </li>

		</ul>
	</div>

	<div class="box-content padded">

		<div class="tab-content">            

            <div class="card">
            <div class="card-body">
            <div class="tab-pane box active table-responsive-lg" id="list">
            {% if ninineas|length > 0 %}
				 <table cellpadding="0" cellspacing="0" border="0"  class=" ninea table table-striped table-bordered dt-responsive table-striped table-hover  ">
                    <thead class="tr_entete" >
                        <tr>
                            <th>NINEA</th>
                            <th>NINEA</th>
                            <th>Raison sociale</th>
                            <th>Enseigne</th>
                            <th>Date de naissance</th>
                            <th>Lieu de naissance</th>                           
                            <th>Détails</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for tag in ninineas %}
                            <tr>
                                <td>{{ tag.ninNinea|length > 9 ? tag.ninNinea:tag.ninNinea ~"0000" }}</td>
                                <td>{{ tag.ninNinea }}</td>
                                <td style=" word-break: break-all;">
                                    {% if tag.formeJuridique.niFormeunite.id ==  21 or tag.formeJuridique.niFormeunite.id ==  22 %}
                                           {{tag.niPersonne != null ? tag.niPersonne.ninRaison:"" }}
                                    {% elseif tag.formeJuridique.niFormeunite.id ==  11 or tag.formeJuridique.niFormeunite.id ==  12 %} 
                                            {{tag.niPersonne != null ? tag.niPersonne.ninNom :"" }} {{tag.niPersonne != null ? tag.niPersonne.ninPrenom : "" }} 
                                    {% endif %}
                                </td>
                                <td style=" word-break: break-all;">{{ tag.ninEnseigne }}</td>
                               
                                <td>
                                   
                                    {% if tag.formeJuridique.niFormeunite.id ==  11 or tag.formeJuridique.niFormeunite.id ==  12 %} 
                                            {{tag.niPersonne != null ? tag.niPersonne.ninDateNaissance ? tag.niPersonne.ninDateNaissance | date("d/m/Y") : "" : "" }}
                                    {% endif %}
                                   
                                </td>

                                <td> 
                                     {% if tag.formeJuridique.niFormeunite.id ==  11 or tag.formeJuridique.niFormeunite.id ==  12 %} 
                                        {{tag.niPersonne != null ? tag.niPersonne.ninLieuNaissance ? tag.niPersonne.ninLieuNaissance : "" : "" }}
                                      {% endif %}
                                </td>
                                <td> 
                                    <a href="{{ path('nininea_show', {'id': tag.id}) }}" title="Détails"  class="btn btn-outline-success btn-sm edit" id="consultation">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                  
                                </td>
                                                                
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
           
                  {% for message in app.session.flashbag.get('messageDonnee')%}
                        <td> <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </td>
                   {% endfor %}
           

              {% endif %}
               
			</div>

          

		</div>

	</div>

</div>

               

            </div>
</div>


<!-- end row -->
{% endblock %} {% block javascript %}


<script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>


       
    <!-- App js -->

<script src="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery-ui.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/jquery-ui-1.12.1/jquery.ui.autocomplete.scroll.min.js')}}"></script>

<script type="text/javascript">
     jQuery.extend( jQuery.fn.dataTableExt.oSort, {
        "date-uk-pre": function ( a ) {
            if (a == null || a == "") {
                return 0;
            }
            var ukDatea = a.split('/');
            return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
        },
     
        "date-uk-asc": function ( a, b ) {
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },
     
        "date-uk-desc": function ( a, b ) {
            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }

    });



     $(".ninea").DataTable({

       
        "order": [0, "asc" ],
        "columnDefs": [
            { "visible": false, "targets": 0 },
             { type: 'date-uk', targets: 4 }
          ],

          


        "sDom": 'f<"top">tip',
        "language": {

            "processing": "Traitement en cours...",

            "search": "Rechercher",

            "width": "10%",

            "lengthMenu": "Afficher _MENU_ ",

            "info": "Affichage de _START_ &agrave; _END_ sur _TOTAL_ ",

            "infoEmpty": "Affichage de 0 &agrave; 0 sur 0 ",

            "infoFiltered": "(filtr&eacute; de _MAX_  au total)",

            "infoPostFix": "",

            "loadingRecords": "Chargement en cours...",

            "zeroRecords": "Rien &agrave; afficher",

            "emptyTable": "Aucune donnée disponible dans le tableau",

            "paginate": {

                first: "Premier",

                previous: "Pr&eacute;c&eacute;dent",

                next: "Suivant",

                last: "Dernier"

            },

        }
    });
    //AUTOCOMPLETION NINEA
    $( function() 
    {          
            // Single Select
        $("#inputmere").autocomplete({
            maxShowItems: 10,
            source: function( request, response ) 
            {
                var route = "{{ path('listeNINEAs') }}" + "/" + $('#inputmere').val();

                // Fetch data
                $.ajax
                ({
                        url: route,
                        type: 'POST',
                        dataType: "json",
                        data: {
                            search: request.term
                        },
                    success: function( data ) 
                    {
                        response($.map(data,function(obj){
                            return {

                                label : obj[1],
                                value : obj[0]
                            
                            }
                        }));
                    }
                });
            },
                
        });


    });


    $("#id_vider").click(function() {
        $("#inputmere").val("");
        $("#id_cni").val("");
        $("#id_datenais").val("");
        $("#id_telephone").val("");
        $("#id_email").val("");
        $("#id_raison").val("");
        $("#id_sigle").val("");
        $("#id_enseigne").val("");
        $("#id_registre").val("");
        $("#inputmere").val("");

    });


</script>
      
{% endblock %}
