{% extends 'base.html.twig' %}

{% block title %}New FluxDesTresoreries{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Responsive Table css -->
    <link href="{{ asset('admin/dist/assets/libs/admin-resources/rwd-table/rwd-table.min.css')}}" rel="stylesheet" type="text/css" />


{% endblock %}

{% block body %}

    

<div class="row">
    <div class="col-xl-12">

        <!-- start page title -->
       <div class="row">
       <div class="col-12">
       
       
           <div class="page-title-box d-sm-flex align-items-center justify-content-between">
               
       
               <div class="page-title-right">
                   <ol class="breadcrumb m-0">
                       <li class="breadcrumb-item"><a href="javascript: void(0);">Saisie des états des flux des trésoreries</a></li>
                       <li class="breadcrumb-item active">Nouvelle saisie</li>  <hr class="bg-info">
                   </ol>
               </div>
       
           </div>
       </div>
       </div>
       <!-- end page title -->

        <!-- debut form -->
        
<div class="card" style=" margin: 0%;padding: 0%;-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175);box-shadow:0 1rem 3rem rgba(0,0,0,.175)">
    <form method="post" action="{{path('flux_des_tresoreries_new')}}" id="idformfluxtresor" name="idformfluxtresor">
    <div class="card-body " style="margin: 0%;padding: 0%;">
        <div class="row">
        <div class="col-xl-12"> 
       
        <table class="table table-bordered mt-5">
                 <tr>
                  <td>Numéro d'identification :<span style="color:red">*</span>
                      <input type="text"  class="form-control form-control-sm" name="idcuci" id="idcuci"></td>
                  <td>Designation entité :<span style="color:red">*</span>
                      <input type="text" disabled class="form-control form-control-sm" name="denomination" id="denomination"></td>
                  <td>Année financière :<span style="color:red">*</span>
                      <input type="text" class="form-control form-control-sm" name="annee" id="annee"></td>
                 </tr>
        </table>
         
             <div class="card">
                 <div class="card-body">

                     <div class="d-flex flex-wrap gap-2 justify-content-center">
                         <button type="button" class="btn btn-secondary waves-effect waves-light" name="resetBtn" id="resetBtn">
                             <i class="bx bx-error font-size-16 align-middle me-2"></i> Effacer les données
                         </button>
                         <button type="submit" class="btn btn-success waves-effect waves-light" id="saveBtn" name="saveBtn">
                             <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Sauvegarder
                         </button>
                         {#<button type="button" class="btn btn-dark bg-soft opacity-25" name="valider" id="valider">#}
                         <button type="button" class="btn btn-dark bt-soft waves-effect waves-light" name="valider" id="valider">
                             <i class="bx bx-block font-size-16 align-middle me-2"></i> Valider la saisie
                         </button>
                     </div>
                 </div>
             </div>
         </div>

         <div class="col-12">
            <div class="table-responsive">
                <table name="form2" id="form2" class="table table-bordered table-striped">
                    <thead>
                        <tr class=" opacity-80" style="background: #008000;">
                            <th scope="col" colspan="2" class="text-center ">
                            </th>
                            <th scope="col" colspan="3" class="text-center">
                            </th>
                            <th colspan="4" scope="col" class="text-center text-white">
                              Exercice au 31/12/<span class="text-info" id="anneeN"></span> 
                            </th>
                            <th colspan="3" scope="col" class="text-center text-white">
                              Exercice au 31/12/<span class="text-info" id="anneeN-1"></span>
                            </th>
                          </tr>
                          <tr class=" opacity-80" style="background: #008000;">

                            <th scope="col" colspan="2" class="text-center text-white">
                                REF
                            </th>

                            <th scope="col" colspan="2" class="text-center text-white">
                                Libellé
                            </th>
                            <th colspan="3" scope="col" class="text-center text-white">
                              NET1
                            </th>
                            <th colspan="3" scope="col" class="text-center text-white">
                              NET2
                            </th>
                          </tr>
                    </thead>

                    <!-- debut tbody inputs -->
                    <tbody id="tbody">
                
                    
                    
                    </tbody>
                    <!-- end tbody -->
                </table> </br>
                <div class="d-flex flex-wrap gap-2 justify-content-center">
                   <button type="button" class="btn btn-secondary waves-effect waves-light">
                       <i class="bx bx-error font-size-16 align-middle me-2"></i> Effacer les données
                   </button>
                   <button type="submit" class="btn btn-success waves-effect waves-light ">
                       <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Sauvegarder
                   </button>
                   <button type="button" class="btn btn-dark bt-soft waves-effect waves-light validerPassif"
                    id="validerPassif">
                       <i class="bx bx-block font-size-16 align-middle me-2"></i> Valider la saisie
                   </button>
               </div>
            </div>
         </div>

         </div>
            <!-- <input type="hidden" name="type" value="1" >
            <button type="submit" class="btn btn-success waves-effect waves-light">
                <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Sauvegarder
            </button> -->
                         
        </div>
        </form>
</div>

<!-- end formulaire -->

</div>
</div>

{% endblock %}


{% block javascript %}
<script src="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.js')}}"></script>

  <!-- Sweet alert init js-->
<script src="{{ asset('admin/dist/assets/js/pages/sweet-alerts.init.js')}}"></script>

<script src="{{ asset('admin/dist/assets/libs/admin-resources/rwd-table/rwd-table.min.js')}}"></script>

        <!-- Init js -->
<script src="{{ asset('admin/dist/assets/js/pages/table-responsive.init.js')}}"></script>


<script type="text/javascript">


    $(document).ready(function(){
   
       {% if app.session.get("codeCuci")!=""%}
        
          var value='{{app.session.get("codeCuci")}}';
      
          document.getElementById('idcuci').setAttribute('value',value);
      
          let route="{{path('cucicodeNum')}}"+"/"+ $('#idcuci').val();
   
                  $.ajax({
                      type: 'GET',
                      url : route,
                      dataType : "json",
                      success: function(data){
                          
                          let denomination=document.getElementById("denomination");
                          denomination.value=data;
      
                        
                      } ,
                      error : function(error){
                          console.log(error);
                      }
          })
      
       {% endif %}
      
    });

    $('#idcuci').change(function(){
        
        let route="{{path('cucicodeNum')}}"+"/"+ $('#idcuci').val();
        $.ajax({
            type: 'GET',
            url : route,
            dataType : "json",
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            success: function(data){
                
                let denomination=document.getElementById("denomination");
                denomination.value=data;
                
                
            } ,
            error : function(error){
                console.log(error);
            }
        })
    });


    ////// ecouteur sur le input annee fin generer le formulaire
    $('#annee').change(function(e){

        e.preventDefault();
            
        let route="{{path('fluxtresorjson')}}"+"/"+ $('#annee').val(); 
        
        $.ajax({
            type: 'GET',
            url : route,
            dataType : "json",
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            success: function(data){
                var tbody=document.getElementById("tbody");
                var ann=document.getElementById("annee");
                var anneeN_1=document.getElementById("anneeN-1");
                var anneeN=document.getElementById("anneeN");
                tbody.innerHTML="";
                ann.innerHTML="";
                anneeN.value = ann.value;
                anneeN.setAttribute('value', anneeN.value);
                anneeN.innerHTML=anneeN.value;
                anneeN_1.innerHTML=anneeN.value-1;

                ////////
                //console.log(data[2]); return;                

                for (var i = data[2].length - 1; i >= 0; i--) {
                    

                    for (var j = data[1].length - 1; j >= 0; j--) {
                                  
                        if (data[2][i][0]==data[1][j][2]) {

                            var tr=document.createElement('tr');
                            var td1=document.createElement('td');
                            var td2=document.createElement('td');

                            var td5=document.createElement('td');
                            var td6=document.createElement('td');

                            td1.setAttribute('colspan',2); 
                            td1.setAttribute('scope',"col"); 
                            td1.setAttribute('class',"text-center form");           
                            td1.innerHTML=  data[1][j][0];
                            tr.appendChild(td1) ;
                            
                            td2.setAttribute('colspan',2); 
                            td2.setAttribute('class',"text-center form");           
                            td2.setAttribute('scope',"col"); 
                                      
                            td2.innerHTML=  data[1][j][1];
                            tr.appendChild(td2) ;


                            td5.setAttribute('colspan',3); 
                            td5.setAttribute('scope',"col"); 
                            td5.setAttribute('class',"text-center");
                            var input5=document.createElement('input');
                            input5.setAttribute('type','number'); 
                            input5.setAttribute('name',data[1][j][0]+"net1"); 
                            input5.setAttribute('id',data[1][j][0]+"net1"); 
                            input5.setAttribute('class','form-control form-control-sm calcul net1 '+data[1][j][2]); 
                            input5.setAttribute('data-sousclasse',data[1][j][2]);
                            if(data[0][data[1][j][0]]){
                                input5.setAttribute('value',data[0][data[1][j][0]][1]);
                            }

                            // input5.addEventListener ("change", function(e){
                            //     var sousclasse= $(this).data('sousclasse');
                            //     var total = somme($(this).hasClass('net1')? 'net1':'net2',sousclasse);
                            //     
                            //     console.log(total);
                            //     if($(this).hasClass('net1')){
                            //          $('input.total.net1').val(total);
                            //     }else{
                            //         $('input.total.net2').val(total);
                            //     }
                            //    
                            // });
                            td5.appendChild(input5);
                            tr.appendChild(td5) ;
                            


                            td6.setAttribute('colspan',3); 
                            td6.setAttribute('scope',"col"); 
                            td6.setAttribute('class',"text-center");           
                            var input6=document.createElement('input');  
                            input6.setAttribute('class','form-control form-control-sm calcul net2 '+data[1][j][2]); 
                            input6.setAttribute('type','number'); 
                            input6.setAttribute('name',data[1][j][0]+"net2"); 
                            input6.setAttribute('id',data[1][j][0]+"net2"); 
                            input6.setAttribute('data-sousclasse',data[1][j][2]);
                            if(data[0][data[1][j][0]]){
                            input6.setAttribute('value',data[0][data[1][j][0]][2]);
                            }

                            // on commente cette partie pour tester la methode hard
                            //input6.addEventListener ("change", function(e){
                            //    var sousclasse= $(this).data('sousclasse');
                            //    var total = somme($(this).hasClass('net2')? 'net1':'net2',sousclasse);
                            //    console.log(total);
                            //    if($(this).hasClass('net2')){
                            //         $('input.total.net1').val(total);
                            //    }else{
                            //        $('input.total.net2').val(total);
                            //    }
                            //    // my update here 
                            //});
                            td6.appendChild(input6);
                            tr.appendChild(td6) ;


                            tbody.appendChild(tr);  


                        }
                    }
                    
                    var tr=document.createElement('tr');
                    // tr.setAttribute('class',"bg-dark bg-soft opacity-65");                     
                    tr.setAttribute('class'," opacity-65");
                    tr.setAttribute('style',"background: #82C46C;");           

                    var td1=document.createElement('td');
                    var td2=document.createElement('td');
                    var td5=document.createElement('td');
                    var td6=document.createElement('td');

                    td1.setAttribute('colspan',2); 
                    td1.setAttribute('scope',"col"); 
                    td1.setAttribute('class',"text-center form");           
                    td1.innerHTML=  data[2][i][0]; // sont stockés les ref
                    tr.appendChild(td1) ;
                    
                    td2.setAttribute('colspan',2); 
                    td2.setAttribute('class',"text-center form");           
                    td2.setAttribute('scope',"col"); 
                               
                    td2.innerHTML=  data[2][i][1]; // sont stockes les libelles
                    tr.appendChild(td2) ;


                    td5.setAttribute('colspan',3); 
                    td5.setAttribute('scope',"col"); 
                    td5.setAttribute('class',"text-center");
                    var input1=document.createElement('input'); 
                    input1.setAttribute('type','number'); 
                    
                    input1.setAttribute('name',data[2][i][0]+"net1"); 
                    input1.setAttribute('id',data[2][i][0]+"net1"); 
                    input1.setAttribute('class','form-control form-control-sm total net1 '+data[2][i][0]);   
                    if(data[0][data[2][i][0]]){
                        input1.setAttribute('value',data[0][data[2][i][0]][1]);
                        // faut appeler la function sum ici
                    }

                    td5.appendChild(input1);
                    tr.appendChild(td5) ;
                    


                    td6.setAttribute('colspan',3); 
                    td6.setAttribute('scope',"col"); 
                    td6.setAttribute('class',"text-center");           
                    var input2=document.createElement('input'); 
                    input2.setAttribute('type','number'); 
                    input2.setAttribute('name',data[2][i][0]+"net2"); 
                    input2.setAttribute('id',data[2][i][0]+"net2"); 
                    input2.setAttribute('class','form-control form-control-sm total net2 '+data[2][i][0]);
                    if(data[0][data[2][i][0]]){
                        input2.setAttribute('value',data[0][data[2][i][0]][2]);
                      }
                            
                    td6.appendChild(input2);
                    tr.appendChild(td6) ;


                    tbody.appendChild(tr);  
                        
                   
                }
               
            } ,
            error : function(error){
                console.log(error);
            }
        })
    });
    ///// end generer formulaire

</script>



{% endblock %}
