<tr style="border:#ced4da;">
    <td><button type="button" class="btn  btn-removeProd"><i class="fas fa-times-circle"></i></button></td>
    <td>{{ form_widget(form.reference) }}</td>
    <td> {{ form_widget(form.designation) }}</td>
    <td>{{ form_widget(form.quantite) }}</td>
    <td>{{ form_widget(form.prixUnitaire) }}</td>
    <td>{{ form_widget(form.montant) }}</td>
</tr>
