{% extends app.user.roles[0] == "ROLE_NINEA_ADMIN" or app.user.roles[0] == "ROLE_VALIDER_DEMANDE_NINEA" or app.user.roles[0] == "ROLE_DEMANDE_NINEA"
    ? 'ninea.html.twig' 
    : 'base.html.twig' %}

{% block title %}RefProduits index{% endblock %}

{% block body %}


<div class="box ">
	<div class="box-header">
		<ul class="nav nav-tabs nav-tabs-left">
			<li class="active">
				<a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                  
                   Liste des codes produits
				</a>
			</li>

          

		</ul>
	</div>

	<div class="box-content padded">

		<div class="tab-content">            
			<div class="example-wrapper ">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-striped" id="productD">
                                <thead class="tr_entete">
                                    <tr>
                                        <th>Id</th>
                                        <th>Libelle</th>
                                        <th>Activite</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for ref_produit in ref_produits %}
                                    <tr>
                                        <td>{{ ref_produit.id }}</td>
                                        <td>{{ ref_produit.libelle }}</td>
                                        <td>
                                            {{ ref_produit.naema.libelle}} - {{ ref_produit.naema.id}}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>                               
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
								
		</div>
			
    </div>

    <div class="box-footer">
        <a href="{{ path('app_ref_produits_new') }}"  class="btn btn-outline-secondary">+Ajouter un nouveau produit</a>

    </div>
</div>



{% endblock %}

{% block javascript %}
    <script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('admin/dist/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
    <script>
        
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function ( a ) {
                if (a == null || a == "") {
                    return 0;
                }
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },
        
            "date-uk-asc": function ( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },
        
            "date-uk-desc": function ( a, b ) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }

        });

        $("#productD").DataTable({
            columnDefs: [
                { type: 'date-uk', targets: 2 }
            ],
            
            "order": [2, "desc" ],


            "sDom": 'f<"top">tip',
            "language": {

                "processing": "Traitement en cours...",

                "search": "Rechercher",

                "width": "50%",

                "lengthMenu": "Afficher _MENU_ ",

                "info": "Affichage de _START_ &agrave; _END_ sur _TOTAL_ ",

                "infoEmpty": "Affichage de 0 &agrave; 0 sur 0 ",

                "infoFiltered": "(filtr&eacute; de _MAX_  au total)",

                "infoPostFix": "",

                "loadingRecords": "Chargement en cours...",

                "zeroRecords": "Rien &agrave; afficher",

                "emptyTable": "Aucune donnée disponible dans le tableau",

                "paginate": {

                    first: "Premier",

                    previous: "Pr&eacute;c&eacute;dent",

                    next: "Suivant",

                    last: "Dernier"

                },

            }
        });
    
    </script>
{% endblock %}
