{% extends 'ninea.html.twig' %}

{% block title %}RefProduits{% endblock %}

{% block body %}




    {{ include('ref_produits/_delete_form.html.twig') }}
<div class="box ">
	<div class="box-header">
		<ul class="nav nav-tabs nav-tabs-left">
			<li class="active">
				<a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                  
                   Liste des jours fériés
				</a>
			</li>

          

		</ul>
	</div>

	<div class="box-content padded">

		<div class="tab-content">            
			<div class="example-wrapper ">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-body">
  
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ ref_produit.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Libelle</th>
                                        <td>{{ ref_produit.libelle }}</td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
                <a href="{{ path('app_ref_produits_index') }}">Liste des produits</a>
                <a hidden href="{{ path('app_ref_produits_edit', {'id': ref_produit.id}) }}">edit</a>
								
		</div>
			
    </div>
</div>

{% endblock %}
