{% extends 'base.html.twig' %}

{% block title %}NAEMAS index{% endblock %}

{% block body %}
    <h1>NAEMAS index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for n_a_e_m_a in n_a_e_m_as %}
            <tr>
                <td>{{ n_a_e_m_a.id }}</td>
                <td>{{ n_a_e_m_a.libelle }}</td>
                <td>
                    <a href="{{ path('n_a_e_m_a_s_show', {'id': n_a_e_m_a.id}) }}">show</a>
                    <a href="{{ path('n_a_e_m_a_s_edit', {'id': n_a_e_m_a.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('n_a_e_m_a_s_new') }}">Create new</a>
{% endblock %}
