{% extends 'base.html.twig' %}

{% block title %}JournalDettesPayerSmt{% endblock %}

{% block body %}
    <h1>JournalDettesPayerSmt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ journal_dettes_payer_smt.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ journal_dettes_payer_smt.createdAt ? journal_dettes_payer_smt.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ journal_dettes_payer_smt.updatedAt ? journal_dettes_payer_smt.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Submit</th>
                <td>{{ journal_dettes_payer_smt.submit ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ journal_dettes_payer_smt.status }}</td>
            </tr>
            <tr>
                <th>AnneeFinanciere</th>
                <td>{{ journal_dettes_payer_smt.anneeFinanciere }}</td>
            </tr>
            <tr>
                <th>DateJ</th>
                <td>{{ journal_dettes_payer_smt.dateJ ? journal_dettes_payer_smt.dateJ|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NumFacture</th>
                <td>{{ journal_dettes_payer_smt.numFacture }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ journal_dettes_payer_smt.nom }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ journal_dettes_payer_smt.montant }}</td>
            </tr>
            <tr>
                <th>DatePaiement</th>
                <td>{{ journal_dettes_payer_smt.datePaiement ? journal_dettes_payer_smt.datePaiement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_journal_dettes_payer_smt_index') }}">back to list</a>

    <a href="{{ path('app_journal_dettes_payer_smt_edit', {'id': journal_dettes_payer_smt.id}) }}">edit</a>

    {{ include('journal_dettes_payer_smt/_delete_form.html.twig') }}
{% endblock %}
