{% extends 'base.html.twig' %}

{% block title %}RefAgg index{% endblock %}

{% block body %}


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
             <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active"><a href="{{path('ref_agg_new')}}" class="btn btn-secondary" style="color:#fff;">Ajouter<br></a></li>
             </ol>


        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-12">
    {% for message in app.session.flashbag.get('message')%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{message}}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
             </div> 

        {% endfor%}
    <div class="card" style=" margin: 0%;padding: 0%;-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175);box-shadow:0 1rem 3rem rgba(0,0,0,.175)">
      <div class="card-body " style="margin: 0%;padding: 0%;">
        <table id="datatable" class="table table-bordered dt-responsive table-hover nowrap w-100">
            <thead style="background:#efefef; margin-top: 0px;">
            <tr>
                <th> <center><b>Catégorie</b><br> <input id="ninea" type="text" class="form-control filter"
                    data-column-index="0"></center> </th>
                <th>
                    <center>  <b>Type</b>
                    <input  type="text" class="form-control filter"
                        data-column-index="1" width="100%"></center>
                
                </th>
                <th>
                    <center>
                    <b>Parent</b>
                    <input  type="text" class="form-control filter"
                    data-column-index="2"></center>
                </th>
                <th>
                    <center>
                    <b>Code</b>
                    <input  type="text" class="form-control filter"
                    data-column-index="2"></center>
                </th>
                <th> <center>
                    <b>Libelle</b>
                  <input  type="text" class="form-control filter"
                    data-column-index="3"></center>
                </th>
                <th> <center>
                    <b>Ordre</b>
                 <input  type="text" class="form-control filter"
                    data-column-index="4"></center>
                </th>
                <th></th>
              
             
            </tr>
            </thead>
            <tbody style="color: #5a5a5a; font-size: 12px;">
                 {% for ref_agg in ref_aggs %}
                     <tr>
                        <td>
                            {{ref_agg.category ? ref_agg.category.libelle : '' }}
                        </td>
                        <td>
                          

                            {{ref_agg.typeBilan ? ref_agg.typeBilan.libelle : '' }}

                        </td>
                        <td>{{ ref_agg.parent }}</td>
                        <td>{{ ref_agg.code }}</td>
                        <td>{{ ref_agg.libelle }}</td>
                        <td>{{ ref_agg.ordre }}</td>
                        <td>
                            <table>
                                <tr>
                                    <td><a href="{{ path('ref_agg_edit', {'id': ref_agg.id}) }}"><i class="fa fa-edit"></i></a></td>
                                    <td>
                                        {{ include('ref_agg/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            </table>
                           
                            
                           
                             
                        </td>
                    </tr>
                   
                {% else %}
                    <tr>
                        <td colspan="18">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div> <!-- end col -->
</div> <!-- end row -->
    
    
{% endblock %}
{% block javascript %}
  

 <script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
 <script src="{{ asset('admin/dist/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>

<script src="{{ asset('admin/dist/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/jszip/jszip.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/pdfmake/build/pdfmake.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/pdfmake/build/vfs_fonts.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js')}}"></script>

<!-- Responsive examples -->
<script src="{{ asset('admin/dist/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')}}"></script>

<!-- Datatable init js -->
<script src="{{ asset('admin/dist/assets/js/pages/dataTables.init.js')}}"></script>  

<script src="{{ asset('admin/dist/assets/libs/select2/js/select2.min.js')}}"></script>


  
<script src="{{ asset('admin/dist/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/spectrum-colorpicker2/spectrum.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/@chenfengyuan/datepicker/datepicker.min.js')}}"></script>
  <!-- Sweet Alerts js -->
  <script src="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.js')}}"></script>

  <!-- Sweet alert init js-->
<script src="{{ asset('admin/dist/assets/js/pages/sweet-alerts.init.js')}}"></script>


        <!-- form advanced init -->
<script src="{{ asset('admin/dist/assets/js/pages/form-advanced.init.js')}}"></script>




{% endblock %}