<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8"/>
        <title>ANSD - Agence Nationale de la Statistique et de la Démographie - Portail NINEA_CUCI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
        <meta content="Themesbrand" name="author"/>
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico')}}">
        <!-- Bootstrap Css -->
        <link
        href="{{ asset('admin/dist/assets/css/bootstrap.min.css')}}" id="bootstrap-style" rel="stylesheet" type="text/css"/> <!-- Icons Css -->
        <link href="{{ asset('admin/dist/assets/css/icons.min.css')}}" rel="stylesheet" type="text/css"/>
        
        
        <style type="text/css">
.box {
        -webkit-box-shadow: 0 2px 2px -2px #cccccc;

        -moz-box-shadow: 0 2px 2px -2px #cccccc;

        box-shadow: 0 2px 2px -2px #cccccc;

        background: #fbfbfb;

        border: 1px solid #cdcdcd;

        -webkit-border-radius: 0px;

        -moz-border-radius: 0px;

        -ms-border-radius: 0px;

        -o-border-radius: 0px;

        border-radius: 0px;

        margin-bottom: 20px;
}

.box .box-header,
.box .box-footer {
        *zoom: 1;

        background: #eaeaea;

        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");

        background-size: 100%;

        background-image: -webkit-gradient(
            linear,
            50% 0,
            50% 100%,
            color-stop(0%, #fdfdfd),
            color-stop(100%, #eaeaea)
  );

  background-image: -webkit-linear-gradient(
    top,
    rgb(233, 233, 233),
    rgb(236, 236, 236)
  );

  background-image: -moz-linear-gradient(
    top,
    rgb(233, 233, 233),
    rgb(236, 236, 236)
  );

  background-image: -o-linear-gradient(
    top,
    rgb(233, 233, 233),
    rgb(236, 236, 236)
  );

  background-image: linear-gradient(
    top,
    rgb(233, 233, 233),
    rgb(236, 236, 236)
  );

  text-shadow: 0 1px white;

  border-bottom: 1px solid #cdcdcd;

  color: #636363;

  font-weight: 600;
}

.box .box-header:before,
.box .box-header:after,
.box .box-footer:before,
.box .box-footer:after {
  display: table;

  content: "";

  line-height: 0;
}

.box .box-header:after,
.box .box-footer:after {
  clear: both;
}

.box .box-header .title,
.box .box-footer .title {
  float: left;

  display: block;

  padding: 10px;

  font-size: 12px;

  font-weight: 600;
}

.box .box-header .box-toolbar,
.box .box-footer .box-toolbar {
  margin: 0;

  padding: 0;

  float: right;

  list-style: none;
}

.box .box-header .box-toolbar .ibutton-container,
.box .box-footer .box-toolbar .ibutton-container {
  margin-top: 6px;
}

.box .box-header .box-toolbar > li,
.box .box-footer .box-toolbar > li {
  position: relative;

  float: left;

  margin-left: 15px;

  line-height: 37px;

  padding-right: 10px;

  color: #636363;

  font-size: 12px;
}

.box .box-header .box-toolbar > li ul,
.box .box-footer .box-toolbar > li ul {
  left: auto;

  right: 0;
}

.box .box-header .box-toolbar > li.toolbar-link,
.box .box-footer .box-toolbar > li.toolbar-link {
  padding-right: 0;
}

.box .box-header .box-toolbar > li.toolbar-link > a,
.box .box-footer .box-toolbar > li.toolbar-link > a {
  border-left: 1px solid #cecece;

  height: 37px;

  line-height: 37px;

  display: block;

  padding: 0 10px;
}

.box .box-header .box-toolbar > li.toolbar-link > a i,
.box .box-footer .box-toolbar > li.toolbar-link > a i {
  font-size: 16px;
}

.box .box-header .box-toolbar > li.toolbar-link > a:hover,
.box .box-footer .box-toolbar > li.toolbar-link > a:hover {
  background: #efefef;

  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");

  background-size: 100%;

  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0%, #ffffff),
    color-stop(100%, #efefef)
  );

  background-image: -webkit-linear-gradient(top, #ffffff, #efefef);

  background-image: -moz-linear-gradient(top, #ffffff, #efefef);

  background-image: -o-linear-gradient(top, #ffffff, #efefef);

  background-image: linear-gradient(top, #ffffff, #efefef);
}

.box .box-header .box-toolbar > li.toolbar-link > a:active,
.box .box-footer .box-toolbar > li.toolbar-link > a:active {
  background: #e5e5e5;
}

.box .box-header .box-toolbar > li > i,
.box .box-footer .box-toolbar > li > i {
  font-size: 14px;

  height: 37px;

  line-height: 37px;
}

.box .box-header .box-toolbar > li.open > a,
.box .box-footer .box-toolbar > li.open > a {
  background: #eee;
}

.box .box-header {
  -moz-border-radius-topright: 3px;

  -webkit-border-top-right-radius: 0px;

  border-top-right-radius: 0px;

  -moz-border-radius-topleft: 3px;

  -webkit-border-top-left-radius: 0px;

  border-top-left-radius: 0px;
}

.box .box-footer {
  -moz-border-radius-bottomright: 3px;

  -webkit-border-bottom-right-radius: 0px;

  border-bottom-right-radius: 0px;

  -moz-border-radius-bottomleft: 3px;

  -webkit-border-bottom-left-radius: 0px;

  border-bottom-left-radius: 0px;

  border-bottom: none;

  border-top: 1px solid #dddddd;
}

.box .box-footer .pagination {
  margin: 10px 0;
}

.box .box-footer.flat {
  border-top: none;

  background: #f1f1f1;

  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");

  background-size: 100%;

  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0%, #fbfbfb),
    color-stop(100%, #f1f1f1)
  );

  background-image: -webkit-linear-gradient(top, #fbfbfb, #f1f1f1);

  background-image: -moz-linear-gradient(top, #fbfbfb, #f1f1f1);

  background-image: -o-linear-gradient(top, #fbfbfb, #f1f1f1);

  background-image: linear-gradient(top, #fbfbfb, #f1f1f1);
}

.box-list {
  list-style: none;

  margin: 0;
}

.box-list > li {
  *zoom: 1;

  background: #f1f1f1;

  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");

  background-size: 100%;

  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0%, #fbfbfb),
    color-stop(100%, #f1f1f1)
  );

  background-image: -webkit-linear-gradient(top, #fbfbfb, #f1f1f1);

  background-image: -moz-linear-gradient(top, #fbfbfb, #f1f1f1);

  background-image: -o-linear-gradient(top, #fbfbfb, #f1f1f1);

  background-image: linear-gradient(top, #fbfbfb, #f1f1f1);

  text-shadow: 0 1px white;

  padding: 10px;

  border-bottom: 1px solid #ddd;
}

.box-list > li:before,
.box-list > li:after {
  display: table;

  content: "";

  line-height: 0;
}

.box-list > li:after {
  clear: both;
}

.box-list > li:last-child {
  border-bottom: none;
}

.box-list .fields li {
  line-height: 23px;
}

.box-section {
  border-bottom: 1px solid #ddd;

  border-top: 1px solid #fff;

  padding: 15px;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;
}

.box-section:last-child {
  border-bottom: none;
}

.faded-toolbar a {
  margin-right: 10px;
}

.faded-toolbar.pull-right a {
  margin-left: 10px;

  margin-right: 0;
}

.faded-toolbar i {
  -webkit-transition: opacity 0.3s;

  -moz-transition: opacity 0.3s;

  -o-transition: opacity 0.3s;

  transition: opacity 0.3s;

  vertical-align: middle;

  color: #989898;

  opacity: 0.6;
}

.faded-toolbar i:hover {
  opacity: 1;
}

.box .box-header .nav {
  margin-bottom: 0;
}

.box .box-header .nav-tabs + .title {
  float: right;
}

.box .box-header .nav-tabs {
  border-bottom: none;
}

.box .box-header .nav-tabs > .active > a,
.box .box-header .nav-tabs > .active > a:hover {
  background: #fbfbfb;

  border-left-color: #dddddd;

  border-right-color: #dddddd;

  border-top-color: transparent;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  -ms-border-radius: 0;

  -o-border-radius: 0;

  border-radius: 0;
}

.box .box-header .nav-tabs.nav-tabs-left {
  float: left;
}

.box .box-header .nav-tabs.nav-tabs-left li:first-child a {
  border-left: 0;

  -moz-border-radius-topleft: 3px;

  -webkit-border-top-left-radius: 0px;

  border-top-left-radius: 0px;
}

.box .box-header .nav-tabs.nav-tabs-right {
  float: right;
}

.box .box-header .nav-tabs.nav-tabs-right li:last-child a {
  border-right: 0;

  -moz-border-radius-topright: 3px;

  -webkit-border-top-right-radius: 0px;

  border-top-right-radius: 0px;

  margin-right: 0;
}

.box .box-header .nav > li > a:hover {
  border-color: transparent;

  background: none;
}

.box-header .tooltip {
  line-height: 20px !important;

  text-shadow: none;
}

.box-header .progress {
  margin-top: 15px;
}

.box-header .input-with-submit input {
  margin-bottom: 0;

  margin-top: 5px;
}
            label {
                font-size: 12px;
                color: #676767;
            }
    
    .bouton {
        
        height: 30px;
        width: 200px;
        border-radius: 50px;
         color: white;
        border: 3px solid #74788d;
        background-color :#74788d;
        
        }

        .boutonsm {
        
            height: 30px;
            width: 100px;
            border-radius: 50px;
            color: white;
            border: 5px solid #74788d;
            background-color :#74788d;
            
            }
            
            input[type="text"], input[type="date"], input[type="password"], input[type="email"],  input[type="tel"],select option,textarea {background-color :#D6EAF8; }
            table select.classselect  { background-color :#D6EAF8; }
            table textarea.classselect  { background-color :#D6EAF8; }
            
  
        /* spinner button */
        #cover-spin {
            position:fixed;
            width:100%;
            left:0;right:0;top:0;bottom:0;
            background-color: rgba(255,255,255,0.7);
            z-index:9999;
            display:none;
        }
        
        @-webkit-keyframes spin {
            from {-webkit-transform:rotate(0deg);}
            to {-webkit-transform:rotate(360deg);}
        }
        
        @keyframes spin {
            from {transform:rotate(0deg);}
            to {transform:rotate(360deg);}
        }
        
        #cover-spin::after {
            content:'';
            display:block;
            position:absolute;
            left:48%;top:40%;
            width:40px;height:40px;
            border-style:solid;
            border-color:black;
            border-top-color:transparent;
            border-width: 4px;
            border-radius:50%;
            -webkit-animation: spin .8s linear infinite;
            animation: spin .8s linear infinite;
        }

        

        </style>


        {% block stylesheets %}{% endblock %}

        <!-- App Css-->
        <link href="{{ asset('admin/dist/assets/css/app2.min.css')}}" id="app-style" rel="stylesheet" type="text/css"/>

        

    </head>

    <body data-sidebar="dark" >

        <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
            <div id="layout-wrapper"> <header id="page-topbar">
                <div class="m-4">

                      <div class="toast toast-success" id="myToast">

                        <div class="toast-body" id="toastbody" style="color: white">

                        </div>
                  </div>

                </div>


                <div class="navbar-header">
                    <div
                        class="d-flex">
                        <!-- LOGO -->
                                                <!-- LOGO #0d3174 etait ici-->
                        <div class="navbar-brand-box" style="background: #031f52;">

                            <a href="#" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{{ asset('admin/dist/assets/images/logos/newlogo1.png')}}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{{ asset('admin/dist/assets/images/logos/newlogo1.png')}}" alt="" height="17">
                                </span>
                            </a>

                            <a href="#" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{{ asset('admin/dist/assets/images/logos/newlogo1.png')}}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{{ asset('admin/dist/assets/images/logos/newlogo1.png')}}" alt="" height="70">
                                </span>
                            </a>
                    </div>


                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>

                        <!-- App Search-->


                    </div>

        
                   


                    <div class="d-flex">
                        {% if is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}

                           
                        


                            <div class="dropdown d-inline-block">
                                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-bell bx-tada"></i>
                                    <span class="badge bg-danger rounded-pill">
                                        {{app.session.get("en_validation")}}
                                    </span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                    aria-labelledby="page-header-notifications-dropdown">
                                    <div class="p-3">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-0" key="t-notifications"> Notifications </h6>
                                            </div>                                       
                                        </div>
                                    </div>
                                    <div data-simplebar style="max-height: 230px;">
                                        <a href="javascript: void(0);" class="text-reset notification-item">
                                            <div class="d-flex">
                                                <div class="avatar-xs me-3">
                                                    <span class="avatar-title bg-warning rounded-circle font-size-14">                                                    
                                                        {{app.session.get("en_validation")}}
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1" key="t-your-order">Demandes en cours de validation</h6>                                                
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="p-2 border-top d-grid">
                                        <a class="btn btn-sm btn-link font-size-14 text-center" href="{{ path('ni_nineaproposition_index')}}">
                                            <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">Plus ...</span> 
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {% else %}
                            <div class="dropdown d-inline-block">
                                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-bell bx-tada"></i>
                                    <span class="badge bg-danger rounded-pill">
                                        {{app.session.get("rejeter")+ app.session.get("valider")}}
                                        </span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                    aria-labelledby="page-header-notifications-dropdown">
                                    <div class="p-3">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-0" key="t-notifications"> Notifications </h6>
                                            </div>
                                            <div class="col-auto">

                                            </div>
                                        </div>
                                    </div>
                                    <div data-simplebar style="max-height: 230px;">
                                        <a href="javascript: void(0);" class="text-reset notification-item">
                                            <div class="d-flex">
                                                <div class="avatar-xs me-3">
                                                    <span class="avatar-title bg-danger rounded-circle font-size-16">
                                                        {{app.session.get("rejeter")}}
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-3" key="t-your-order"><br>
                                                        Demandes rejetées</h6>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript: void(0);" class="text-reset notification-item">
                                            <div class="d-flex">
                                                <div class="avatar-xs me-3">
                                                    <span class="avatar-title bg-success rounded-circle font-size-16">
                                                        {{app.session.get("valider")}}
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-3" key="t-your-order"><br>
                                                        Demandes validées</h6>
                                                </div>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="p-2 border-top d-grid">
                                        <a class="btn btn-sm btn-link font-size-14 text-center" href="{{ path('ni_nineaproposition_index')}}">
                                            <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">Plus...</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <i class="far fa-user-circle fa-w-2 fa-2x"> </i>
                                <span class="d-none d-xl-inline-block ms-1" key="t-henry"></span>
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>

                            <div
                                class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <a class="dropdown-item" href="{{path('user_change_passwordNINEA',{'id':app.user.id})}}">
                                    <i class="bx bx-user font-size-16 align-middle me-1"></i>
                                    <span key="t-profile">{{app.user.prenom}}
                                    {{app.user.nom}}</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id}) }}">
                                    <i class=" bx bx-user-circle font-size-16 align-middle me-1"></i>
                                    <span key="t-logout">Profile</span>
                                </a>


                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="{{path('app_logout')}}">
                                    <i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
                                    <span key="t-logout">Déconnexion</span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu" style="background: #031f52;">

                <div
                    data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div
                        id="sidebar-menu">
                        <!-- Left Menu Start -->
                      {% if app.user.premierConnexion==0 %}
                        <ul class="nav nav-tabs" id="side-menu">
                            <li class="menu-title" key="t-menu"></li>
                           {% if is_granted('ROLE_DEMANDE_NINEA')  or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}  
                             <li>
                                <a href="javascript: void(0);" class="waves-effect">
                                    <i class="fas fa-home"></i><span class="badge rounded-pill bg-info float-end"></span>
                                    <span key="t-dashboards">Tableau de bord</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{{ path('ninea_accueil')}}" key="t-default"> Tableau de bord </a></li>
                                    <li>
                                    <li>
                                        <a  
                                            href="{{ path('app_ninea_data_report')}}" 
                                            key="t-default">
                                            Reporting NINEA
                                        </a>
                                    </li>

                                     <li>
                                        <a  
                                            href="{{ path('diagramme_rep')}}" 
                                            key="t-default">
                                            Statistiques 
                                        </a>
                                    </li>


                                    
                                    <li>
                                    {% if is_granted('ROLE_CUCI')  %}
                                        <a href="{{path('index')}}" >CUCI</a>
                                    {% endif %}
                                    
                                    </li>

                                </ul>
                            </li>
                            {% endif %}
                             {% if is_granted('ROLE_NINEA_ADMIN')  %}
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="bx bxs-user-detail"></i>
                                        <span key="t-contacts">Utilisateurs</span>
                                    </a>
                                    <ul class="sub-menu" aria-expanded="false">
                                        <li><a href="{{path('user_list')}}" key="t-user-grid">Liste des utilisateurs</a></li>
                                        <li><a href="{{path('user_newNinea')}}" key="t-user-list">Ajouter un utilisateur</a></li>
                                    </ul>
                                </li>
                            {% endif %}

                        
                        {% if is_granted('ROLE_DEMANDE_NINEA') or is_granted('ROLE_CONSULTATION_NINEA') or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                            <li>
                                <a href="{{path('n_i_ninea_index2')}}" class="">
                                    <i class="bx bxs-paste"></i>
                                    <span key="t-contacts">Consultation de NINEA</span>
                                </a>
                               
                            </li>
                         {% endif %}
                         
                         {% if is_granted('ROLE_DEMANDE_NINEA')  or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-file"></i>
                                    <span key="t-utility">Demandes NINEA</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    
                                 {% if is_granted('ROLE_DEMANDE_NINEA')  or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                                    <li>
                                        <a href="{{path('ni_nineaproposition_new')}}" key="t-basic-tables" class="_ninea-saisie" id="_ninea-saisie">Saisie Nouveaux NINEA/NINET </a>
                                    </li>

                                    <li>
                                        <a href=" {{ path('ni_nineaproposition_newAncienNINEA')}}" key="t-basic-tables">Saisie Ancienne </a>
                                    </li>

                                    <li>
                                        <a href="{{path('listeBrouillons')}}" key="t-basic-tables">Liste des des demandes en cours de saisie</a>
                                    </li>
                                    
                                    <li>
                                        <a href="{{path('ni_nineaproposition_index')}}" key="t-basic-tables">Suivi de demandes</a>
                                    </li>
                                  {% endif %} 

                                </ul>
                            </li>
                         {% endif %}

                         {% if is_granted('ROLE_DEMANDE_NINEA')  or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bxs-paste"></i>
                                    <span key="t-contacts">Modifications</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                   
                                 {% if is_granted('ROLE_DEMANDE_NINEA')  or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                                    <li>
                                       
                                        <a href="{{path('demandeModification') }}" key="t-basic-tables">Prise en charge des erreurs de saisie </a>
                                        
                                    </li>
                                    <li>
                                      <a href="{{path('demande_miseajour') }}"  key="t-basic-tables">Mise à jour des NINEA/NINET </a>
                                    </li>
                                     <li>
                                        <a href="{{path('app_ni_cessation_new', {ind:1}) }}" key="t-basic-tables">Radiation </a>
                                    </li>

                                    <li>
                                        <a href=" {{ path('app_ni_cessation_new',  {ind:2})}}" key="t-basic-tables">Suspension </a>
                                    </li>

                                     <li>
                                        <!--<a href="{{path('app_nireactivation_new')}}" key="t-basic-tables">Réactivation </a>-->
                                        <a href="{{path('app_reprise_nineaList')}}" key="t-basic-tables">Réactivation </a>
                                    </li>

                                   
                                  {% endif %} 

                                </ul>
                            </li>
                         {% endif %}

                        

                         
                         {% if is_granted('ROLE_DEMANDE_NINEA')  or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bxs-paste"></i>
                                    <span key="t-contacts">Suivi des modifications</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                   
                                 {% if is_granted('ROLE_DEMANDE_NINEA')  or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                                   
                                   <li>
                                        <a href=" {{ path('suiviDemandeModification')}}" key="t-basic-tables">Modifications </a>
                                    </li>
                                   <li>
                                        <a href=" {{ path('app_suivi_cessation')}}" key="t-basic-tables">Cessations </a>
                                    </li>
                                   <li>
                                        <a href=" {{ path('app_nireactivation_index')}}" key="t-basic-tables">Réactivations</a>
                                    </li>
                                  

                                   
                                  {% endif %} 

                                </ul>
                            </li>
                         {% endif %}

                          {% if is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-table"></i>
                                    <span key="t-contacts">Validations</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                   
                                 {% if is_granted('ROLE_DEMANDE_NINEA')  or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                                    <li><a href="{{path('a_valider')}}" key="t-basic-tables">Valider les demandes NINEA/NINET</a></li>
                                   

                                     <li>
                                        <a href="{{path('app_demande_modification_index')}}" key="t-basic-tables">Valider les demandes de modification </a>
                                    </li>

                                    
                                    <li>
                                        <a href="{{path('app_ni_cessation_index')}}" key="t-basic-tables">Valider les cessations </a>
                                    </li>

                                     <li>
                                        <a href="{{path('reactivationsList')}}" key="t-basic-tables">Valider les réactivations </a>
                                    </li>

                                  {% endif %} 

                                </ul>
                            </li>
                         {% endif %}
                          {% if is_granted('ROLE_DEMANDE_NINEA') or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-printer"></i>
                                    <span key="t-contacts">Impressions</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                   
                                 {% if is_granted('ROLE_DEMANDE_NINEA')  or is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                                    <li>
                                        <a href="{{path('imprimerNinea')}}" key="t-basic-tables">Impression NINEAs </a>
                                    </li>                                  
                                    <li>
                                        <a href="{{ path('cessationSuspensionsList') }}" key="t-basic-tables">Impression des cessations </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('reactivationsListImprimer') }}" key="t-basic-tables">Impression des réactivations </a>
                                    </li>

                                   
                                  {% endif %} 

                                </ul>
                            </li>
                         {% endif %}
                            {% if is_granted('ROLE_NINEA_ADMIN') or  is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="fas fa-chess-board"></i>
                                        <span key="t-contacts">Gestion des NINEA</span>
                                    </a>

                                    <ul class="sub-menu" aria-expanded="false">
                                        <li>
                                            {% if is_granted('ROLE_NINEA_ADMIN') or is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                                                <a href="{{path('n_i_ninea_index')}}" key="t-basic-tables">Suivi NINEA</a>
                                            {% endif %}
                                        </li>
                                        
                                    </ul>
                                </li>

                            {% endif %}


                                <!-- begin menu des parametres -->
                              {% if is_granted('ROLE_NINEA_ADMIN')  %}
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="bx bxs-cog"></i>
                                        <span key="t-contacts">Paramétrage</span>
                                    </a>
                                    <ul class="sub-menu" aria-expanded="false">
                                        <li><a href="{{path('app_ni_formeunite_index')}}" key="t-user-grid">Forme unité</a></li>
                                        <li><a href="{{path('app_ni_formejuridique_index')}}" key="t-user-list">Forme juridique</a></li>
                                        <li><a href="{{path('n_a_e_m_a_index')}}" key="t-user-list">Gestion nomenclature<br> des activités (NAEMA)</a></li>
                                        <li><a href="{{path('app_ref_produits_index')}}" key="t-user-list">Gestion nomenclature <br>des produits</a></li>
                                        <li><a href="{{path('app_ref_nomenclature_rc_index')}}" key="t-user-list">Gestion nomenclature<br> des RC</a></li>
                                        <li><a href="{{path('app_ni_type_consequence_index')}}" key="t-user-list">Définition des modalités de conséquence</a></li>
                                        <li><a href="{{path('app_nin_jour_ferier_index')}}" key="t-user-list">Définition <br>des jours fériés</a></li>
                                        <li><a href="{{path('app_ni_administration_index')}}" key="t-user-list">Gestion <br>des administration (CSI)</a></li>
                                        <li><a href="{{path('app_ni_responsable_index')}}" key="t-user-list">Gestion des types <br>de responsables </a></li>
                                        <li><a href="{{path('app_pays_index')}}" key="t-user-list">Gestion des nationalités<br> (Pays) </a></li>
                                        <li><a href="{{path('app_nin_typedocuments_index')}}" key="t-user-list">Gestion des types <br>de documents </a></li>
                                        <li><a href="{{path('app_ni_modaliteexploitation_index')}}" key="t-user-list">Gestion des modalités  </a></li>
                                        <li><a href="{{path('app_ni_nature_localite_exploitation_index')}}" key="t-user-list">Gestion des natures d'exploitation  </a></li>
                                        <li><a href="{{path('app_ni_sourcefinancement_index')}}" key="t-user-list">Gestion des sources de financement  </a></li>

                                    </ul>
                                </li>
                            {% endif %}


                            {% if is_granted('ROLE_DEMANDE_NINEA') or is_granted('ROLE_NINEA_ADMIN') or is_granted('ROLE_VALIDER_DEMANDE_NINEA') %}
                                <li>
                                    <a href="{{path('app_history_views')}}" class="">
                                    <i class="bx bx-history "></i>
                                        <span key="t-contacts">Historique des NINEA</span>
                                    </a>

                                </li>

                            {% endif %}                            
                        </ul>
                    {% endif %}
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
                <div class="main-content"> <div class="page-content">
                    <div class="container-fluid" id="container-fluid-div">
                        {% block body %}{% endblock %}

                    </div>
                        <!-- container-fluid -->
                </div>
                    <!-- End Page-content -->


                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <script>
                                        document.write(new Date().getFullYear())
                                    </script>
                                    © République du Sénégal, tous droits réservés.
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-sm-end d-none d-sm-block">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- end main content-->

            </div>
            <!-- END layout-wrapper -->

            <!-- Right Sidebar -->

            <!-- /Right-bar -->

            <!-- Right bar overlay--><div class="rightbar-overlay"> </div>


            <script src="{{ asset('admin/dist/assets/libs/jquery/jquery.min.js')}}"></script>
            <script src="{{ asset('admin/dist/assets/libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <script src="{{ asset('admin/dist/assets/libs/metismenu/metisMenu.min.js')}}"></script>
            <script src="{{ asset('admin/dist/assets/libs/simplebar/simplebar.min.js')}}"></script>
            <script src="{{ asset('admin/dist/assets/libs/node-waves/waves.min.js')}}"></script>

            <!--incorpor HTMX librarie to test -->
            <script src="{{ asset('admin/dist/assets/js/htmx.min.js')}}" ></script>               

            {% block javascript %}
            {% endblock %}


            <script src="{{ asset('admin/dist/assets/js/app.js')}}"></script>
            <script>

               
            </script>
        </body>

    </html>

