{% extends 'base.html.twig' %}

{% block title %}Dirigeant index{% endblock %}

{% block body %}
    <h1>Dirigeant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Addresse</th>
                <th>Nom</th>
                <th>Position</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dirigeant in dirigeants %}
            <tr>
                <td>{{ dirigeant.id }}</td>
                <td>{{ dirigeant.createdAt ? dirigeant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ dirigeant.updatedAt ? dirigeant.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ dirigeant.addresse }}</td>
                <td>{{ dirigeant.nom }}</td>
                <td>{{ dirigeant.position }}</td>
                <td>{{ dirigeant.prenom }}</td>
                <td>
                    <a href="{{ path('dirigeant_show', {'id': dirigeant.id}) }}">show</a>
                    <a href="{{ path('dirigeant_edit', {'id': dirigeant.id}) }}"> <i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dirigeant_new') }}">Create new</a>
{% endblock %}
