{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Responsive Table css -->
    <link href="{{ asset('admin/dist/assets/libs/admin-resources/rwd-table/rwd-table.min.css')}}" rel="stylesheet" type="text/css" />


{% endblock %}


{% block body %}

<div class="row">
    <div class="col-xl-12">

        <!-- start page title -->
       <div class="row">
       <div class="col-12">
       
       
           <div class="page-title-box d-sm-flex align-items-center justify-content-between">
               
       
               <div class="page-title-right">
                   <ol class="breadcrumb m-0">
                       <li class="breadcrumb-item"><a href="javascript: void(0);">Saisie des comptes de résultats</a></li>
                       <li class="breadcrumb-item active">Nouvelle saisie</li>  <hr class="bg-info">
                   </ol>
               </div>
       
           </div>
       </div>
       </div>
       <!-- end page title -->

        <!-- debut form -->
        
<div class="card" style=" margin: 0%;padding: 0%;-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175);box-shadow:0 1rem 3rem rgba(0,0,0,.175)">
    <form method="post" action="{{path('compte_de_resultats_new')}}" id="idformcompte" name="idformcompte">
    <div class="card-body " style="margin: 0%;padding: 0%;">
        <div class="row">
        <div class="col-xl-12"> 
       
        <table class="table table-bordered mt-5">
                 <tr>
                  <td>Numéro d'identification :<span style="color:red">*</span>
                      <input type="text"  class="form-control form-control-sm" name="idcuci" id="idcuci"></td>
                  <td>Designation entité :<span style="color:red">*</span>
                      <input type="text" disabled class="form-control form-control-sm" name="denomination" id="denomination"></td>
                  <td>Année financière :<span style="color:red">*</span>
                      <input type="text" class="form-control form-control-sm" name="annee" id="annee"></td>
                 </tr>
        </table>
         
             <div class="card">
                 <div class="card-body">

                     <div class="d-flex flex-wrap gap-2 justify-content-center">
                         <button type="button" class="btn btn-secondary waves-effect waves-light" name="resetBtn" id="resetBtn">
                             <i class="bx bx-error font-size-16 align-middle me-2"></i> Effacer les données
                         </button>
                         <button type="submit" class="btn btn-success waves-effect waves-light">
                             <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Sauvegarder
                         </button>
                         {#<button type="button" class="btn btn-dark bg-soft opacity-25" name="valider" id="valider">#}
                         <button type="button" class="btn btn-dark bt-soft waves-effect waves-light" name="valider" id="valider">
                             <i class="bx bx-block font-size-16 align-middle me-2"></i> Valider la saisie
                         </button>
                     </div>
                 </div>
             </div>
         </div>

         <div class="col-12">
            <div class="table-responsive">
                <table name="form2" id="form2" class="table table-bordered table-striped">
                    <thead style="color: white;">
                        <tr class=" opacity-65" style="background: #008000;">
                            <th scope="col" colspan="2" class="text-center ">
                            </th>
                            <th scope="col" colspan="3" class="text-center">
                            </th>
                            <th colspan="4" scope="col" class="text-center text-white">
                              Exercice au 31/12/<span class="text-info" id="anneeN"></span> 
                            </th>
                            <th colspan="3" scope="col" class="text-center text-white">
                              Exercice au 31/12/<span class="text-info" id="anneeN-1"></span>
                            </th>
                          </tr>
                        <tr class=" opacity-80" style="background: #008000;">
                            <th scope="col" colspan="2" class="text-center text-white">
                                REF
                            </th>
                            <th scope="col" colspan="2" class="text-center text-white">
                                Libelle
                            </th>
                            <th colspan="3" scope="col" class="text-center text-white">
                              NET1
                            </th>
                            <th colspan="3" scope="col" class="text-center text-white">
                              NET2
                            </th>
                          </tr>
                    </thead>

                    <!-- debut tbody inputs -->
                    <tbody id="tbody">
                
                    
                    
                    </tbody>
                    <!-- end tbody -->
                </table> </br>
                <div class="d-flex flex-wrap gap-2 justify-content-center">
                   <button type="button" class="btn btn-secondary waves-effect waves-light">
                       <i class="bx bx-error font-size-16 align-middle me-2"></i> Effacer les données
                   </button>
                   <button type="submit" class="btn btn-success waves-effect waves-light ">
                       <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Sauvegarder
                   </button>
                   <button type="button" class="btn btn-dark bt-soft waves-effect waves-light validerPassif"
                    id="validerPassif">
                       <i class="bx bx-block font-size-16 align-middle me-2"></i> Valider la saisie
                   </button>
               </div>
            </div>
        </div>
        
        
        
    </div>
            <!-- <input type="hidden" name="type" value="1" >
            <button type="submit" class="btn btn-success waves-effect waves-light">
                <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Sauvegarder
            </button> -->
                         
        </div>
        <input type="hidden" name="typePassif" value="2" >
        </form>
</div>

<!-- end formulaire -->

</div>
</div>


{% endblock %}


{% block javascript %}
<script src="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.js')}}"></script>

  <!-- Sweet alert init js-->
<script src="{{ asset('admin/dist/assets/js/pages/sweet-alerts.init.js')}}"></script>

<script src="{{ asset('admin/dist/assets/libs/admin-resources/rwd-table/rwd-table.min.js')}}"></script>

        <!-- Init js -->
<script src="{{ asset('admin/dist/assets/js/pages/table-responsive.init.js')}}"></script>

<script type="text/javascript">


 $(document).ready(function(){

    {% if app.session.get("codeCuci")!=""%}
     
       var value='{{app.session.get("codeCuci")}}';
   
       document.getElementById('idcuci').setAttribute('value',value);
   
       //let route="{{path('nineaNum')}}"+"/"+ value;
       let route="{{path('nineaNum')}}"+"/"+ $('#idcuci').val();

               $.ajax({
                   type: 'GET',
                   url : route,
                   dataType : "json",
                   success: function(data){
                       
                       let denomination=document.getElementById("denomination");
                       denomination.value=data;
   
                     
                   } ,
                   error : function(error){
                       console.log(error);
                   }
       })
   
    {% endif %}
   
     });


    //$(document).ready(function(){

        $('#idcuci').change(function(){
            
            let route="{{path('nineaNum')}}"+"/"+ $('#idcuci').val();
            $.ajax({
                type: 'GET',
                url : route,
                dataType : "json",
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                success: function(data){
                    
                    let denomination=document.getElementById("denomination");
                    denomination.value=data;
                    //// ici recuperer l'annee de session
                    document.getElementById("annee").value=$('#annee').val();

                    
                    
                } ,
                error : function(error){
                    console.log(error);
                }
            })
        });


        
    $('#annee').change(function(e){

        e.preventDefault();
            
        let route="{{path('bilanjson')}}"+"/"+ $('#annee').val(); //console.log(route);
        $.ajax({
            type: 'GET',
            url : route,
            dataType : "json",
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            success: function(data){
                //tbody=document.getElementById("tbody");
                var tbody=document.getElementById("tbody");
                var ann=document.getElementById("annee");
                var anneeN_1=document.getElementById("anneeN-1");
                var anneeN=document.getElementById("anneeN");
                tbody.innerHTML="";
                ann.innerHTML="";
                anneeN.value = ann.value;
                anneeN.setAttribute('value', anneeN.value);
                anneeN.innerHTML=anneeN.value;
                anneeN_1.innerHTML=anneeN.value-1;

                    
                //for (var i = data[2].length - 1; i >= 0; i--) {
                for (var i = 0; i < data[2].length; i++) {
                    
                      //for (var j = data[1].length - 1; j >= 0; j--) {
                      for (var j = 0; j < data[1].length; j++) {
                                    
                          if (data[2][i][0]==data[1][j][2]) {
      
                              var tr=document.createElement('tr');
                              var td1=document.createElement('td');
                              var td2=document.createElement('td');
      
                              var td5=document.createElement('td');
                              var td6=document.createElement('td');
      
                              td1.setAttribute('colspan',2); 
                              td1.setAttribute('scope',"col"); 
                              td1.setAttribute('class',"text-center form");           
                              td1.innerHTML=  data[1][j][0];
                              tr.appendChild(td1) ;
                              
                              td2.setAttribute('colspan',2); 
                              td2.setAttribute('class',"text-center form");           
                              td2.setAttribute('scope',"col"); 
                                        
                              td2.innerHTML=  data[1][j][1];
                              tr.appendChild(td2) ;
      
      
                              td5.setAttribute('colspan',3); 
                              td5.setAttribute('scope',"col"); 
                              td5.setAttribute('class',"text-center");
                              var input5=document.createElement('input');
                              input5.setAttribute('type','number'); 
                              input5.setAttribute('name',data[1][j][0]+"net1"); 
                              input5.setAttribute('id',data[1][j][0]+"net1"); 
                              input5.setAttribute('class','form-control form-control-sm calcul net1 '+data[1][j][2]); 
                              input5.setAttribute('data-sousclasse',data[1][j][2]);
                              if(data[0][data[1][j][0]]){
                                  input5.setAttribute('value',data[0][data[1][j][0]][1]);
                              }
      
                              // input5.addEventListener ("change", function(e){
                              //     var sousclasse= $(this).data('sousclasse');
                              //     var total = somme($(this).hasClass('net1')? 'net1':'net2',sousclasse);
                              //     
                              //     console.log(total);
                              //     if($(this).hasClass('net1')){
                              //          $('input.total.net1').val(total);
                              //     }else{
                              //         $('input.total.net2').val(total);
                              //     }
                              //    
                              // });
                              td5.appendChild(input5);
                              tr.appendChild(td5) ;
                              
      
      
                              td6.setAttribute('colspan',3); 
                              td6.setAttribute('scope',"col"); 
                              td6.setAttribute('class',"text-center");           
                              var input6=document.createElement('input');  
                              input6.setAttribute('class','form-control form-control-sm calcul net2 '+data[1][j][2]); 
                              input6.setAttribute('type','number'); 
                              input6.setAttribute('name',data[1][j][0]+"net2"); 
                              input6.setAttribute('id',data[1][j][0]+"net2"); 
                              input6.setAttribute('data-sousclasse',data[1][j][2]);
                              if(data[0][data[1][j][0]]){
                              input6.setAttribute('value',data[0][data[1][j][0]][2]);
                              }
      
                              // on commente cette partie pour tester la methode hard
                              //input6.addEventListener ("change", function(e){
                              //    var sousclasse= $(this).data('sousclasse');
                              //    var total = somme($(this).hasClass('net2')? 'net1':'net2',sousclasse);
                              //    console.log(total);
                              //    if($(this).hasClass('net2')){
                              //         $('input.total.net1').val(total);
                              //    }else{
                              //        $('input.total.net2').val(total);
                              //    }
                              //    // my update here 
                              //});
                              td6.appendChild(input6);
                              tr.appendChild(td6) ;
                              tbody.appendChild(tr);  
      
                           
                          }
                      } 

                    var tr=document.createElement('tr');
                    // tr.setAttribute('class',"bg-dark bg-soft opacity-65");                    
                    tr.setAttribute('class'," opacity-65");
                    tr.setAttribute('style',"background: #82C46C;");         

                    var td1=document.createElement('td');
                    var td2=document.createElement('td');
                    var td5=document.createElement('td');
                    var td6=document.createElement('td');

                    td1.setAttribute('colspan',2); 
                    td1.setAttribute('scope',"col"); 
                    td1.setAttribute('class',"text-center form");           
                    td1.innerHTML=  data[2][i][0]; // sont stockés les ref
                    tr.appendChild(td1) ;
                    
                    td2.setAttribute('colspan',2); 
                    td2.setAttribute('class',"text-center form");           
                    td2.setAttribute('scope',"col"); 
                               
                    td2.innerHTML=  data[2][i][1]; // sont stockes les libelles
                    tr.appendChild(td2) ;


                    td5.setAttribute('colspan',3); 
                    td5.setAttribute('scope',"col"); 
                    td5.setAttribute('class',"text-center");
                    var input1=document.createElement('input'); 
                    input1.setAttribute('type','number'); 
                    
                    input1.setAttribute('name',data[2][i][0]+"net1"); 
                    input1.setAttribute('id',data[2][i][0]+"net1"); 
                    input1.setAttribute('class','form-control form-control-sm total net1 '+data[2][i][0]);   
                    if(data[0][data[2][i][0]]){
                        input1.setAttribute('value',data[0][data[2][i][0]][1]);
                        // faut appeler la function sum ici
                    }

                    

                    

                    td5.appendChild(input1);
                    tr.appendChild(td5) ;
                    


                    td6.setAttribute('colspan',3); 
                    td6.setAttribute('scope',"col"); 
                    td6.setAttribute('class',"text-center");           
                    var input2=document.createElement('input'); 
                    input2.setAttribute('type','number'); 
                    input2.setAttribute('name',data[2][i][0]+"net2"); 
                    input2.setAttribute('id',data[2][i][0]+"net2"); 
                    input2.setAttribute('class','form-control form-control-sm total net2 '+data[2][i][0]);
                    if(data[0][data[2][i][0]]){
                        input2.setAttribute('value',data[0][data[2][i][0]][2]);
                      }
                            
                      td6.appendChild(input2);
                      tr.appendChild(td6) ;
                      tbody.appendChild(tr);  



                    

                }

                
         $(".form-control").bind("keypress", function(e) {

            if (e.keyCode == 13) {
                var inps = $("input"); //add select too
                for (var x = 0; x < inps.length; x++) {
                    if (inps[x] == this) {
                        while ((inps[x]).name == (inps[x + 1]).name) {
                        x++;
                        }
                        if ((x + 1) < inps.length) $(inps[x + 1]).focus();
                    }
                }   e.preventDefault();
            }
        });

               
            } ,
            error : function(error){
                console.log(error);
            }
        })
    });
    
    function remplacer(value){
        value=value.replace(".", "");
        value=value.replace(",", "");
        return value;
    }



    // javascript function to verify integer value is
    function isInt(value) {
        return !isNaN(value) && 
               parseInt(Number(value)) == value ;
    }


    function getResult(a1, a2) {
        var i = a1.length;
        if (i != a2.length) return false;
     
        while (i--) {
          if (a1[i] !== a2[i]) return false;
        }
        return true;
    }



    $('#valider').click(function(e){

        e.preventDefault();

        var swalMsg = "Verifier les valeurs NET saisie pour ";
        
        var tagnet,net=0,somme=0, valider=1;
        {% for tag in refAgg%}

           console.log('{{tag.code}}');
       

        {% endfor %}

        // adapter les id element

        var sumXA = 0; // RA+RB+TA sumXA c'est sumXA= TA - RA + RB

        if(isInt(document.getElementById('TAnet1').value) == true){

            sumXA=sumXA+ parseInt(document.getElementById('TAnet1').value);
        }

        if(isInt(document.getElementById('RAnet1').value) == true){

            sumXA=sumXA-parseInt(document.getElementById('RAnet1').value);

        }
        
        if(isInt(document.getElementById('RBnet1').value) == true){

            sumXA=sumXA+parseInt(document.getElementById('RBnet1').value);
        }
        
        var tb = 0;
        
        
        //if(isInt(document.getElementById('XAnet1').value) == true){
        if(document.getElementById('XAnet1').value !=""){

            tb= parseInt(document.getElementById('XAnet1').value);

        }
        
        var testVar = "Marge brute ssur marchandises XA = TA-RA+RB !";
        if(tb == sumXA){

            
        }else{
            valider=0;

            Swal.fire(' Verifier les valeurs NET saisie pour ' + testVar); 
            return; // pour casser le flux d'execution

        }
        
        // traitement sum chiffre d'affaire TI = TA+TC+TD+TB
        
        var sumXB = 0; // sumXB c'est sumXB= TA+ TB+TC+TD
        if(isInt(document.getElementById('TAnet1').value) == true){

            sumXB = sumXB+parseInt(document.getElementById('TAnet1').value);

        }
        if(isInt(document.getElementById('TCnet1').value) == true ){

            sumXB =sumXB+parseInt(document.getElementById('TCnet1').value); 
                    
        }

        if(isInt(document.getElementById('TDnet1').value) == true ){
            sumXB =sumXB+parseInt(document.getElementById('TDnet1').value); 

        }

        if(isInt(document.getElementById('TBnet1').value == true)){
            sumXB =sumXB+parseInt(document.getElementById('TBnet1').value); 

        }


       var ti = 0;
        if(isInt(document.getElementById('XBnet1').value) == true){ // recuperer la valeur de TI
            ti = parseInt(document.getElementById('XBnet1').value);
        }
        
        var testVar1 = "chiffre d'affaires XB = TA+TB+TC+TD !";
        if(ti != sumXB){

            valider=0;

            Swal.fire('Verifier les valeurs NET saisie pour '+ testVar1); 
            return ;
                     
        }

        // traitement sum valeur ajoutee TN = TB+TI + TE+TF+TK+TL+TT+RC+RD+RE+RH+RI+RJ+RK+RL
        // sumXC = 0; tn = 0;  sumXC c'est sumXC = sumXA+sumXB+TE+TF+TG+TH+TI- RC + RD- RE+RF- RG- RH- RI- RJ
        
        var sumXC = sumXA; 
        
        if(isInt(document.getElementById('TBnet1').value) == true ){
            sumXC = sumXC + parseInt(document.getElementById('TBnet1').value) ;
            
        }
        if(isInt(document.getElementById('TCnet1').value) == true ){
            sumXC = sumXC + parseInt(document.getElementById('TCnet1').value) ;
            
        }
        if(isInt(document.getElementById('TDnet1').value) == true ){
            sumXC = sumXC + parseInt(document.getElementById('TDnet1').value) ;
            
        }
        if(isInt(document.getElementById('TEnet1').value) == true ){
            sumXC = sumXC + parseInt(document.getElementById('TEnet1').value) ;
            
        }
        
        if(isInt(document.getElementById('TFnet1').value) == true ){
            sumXC = sumXC + parseInt(document.getElementById('TFnet1').value) ;
            
        }
        if(isInt(document.getElementById('TGnet1').value) == true ){
            sumXC = sumXC + parseInt(document.getElementById('TGnet1').value) ;
            
        }
        if(isInt(document.getElementById('THnet1').value) == true ){
            sumXC = sumXC + parseInt(document.getElementById('THnet1').value) ;
            
        }
        if(isInt(document.getElementById('TInet1').value) == true ){
            sumXC = sumXC + parseInt(document.getElementById('TInet1').value) ;
            
        }
        if(isInt(document.getElementById('RCnet1').value) == true ){
            sumXC = sumXC - parseInt(document.getElementById('RCnet1').value) ;
            
        }
        if(isInt(document.getElementById('RDnet1').value) == true ){
            sumXC = sumXC + parseInt(document.getElementById('RDnet1').value) ;
            
        }
        if(isInt(document.getElementById('REnet1').value) == true ){
            sumXC = sumXC - parseInt(document.getElementById('REnet1').value) ;
            
        }
        if(isInt(document.getElementById('RFnet1').value) == true ){
            sumXC = sumXC + parseInt(document.getElementById('RFnet1').value) ;
            
        }
        if(isInt(document.getElementById('RGnet1').value) == true ){
            sumXC = sumXC - parseInt(document.getElementById('RGnet1').value) ;
            
        }
        if(isInt(document.getElementById('RHnet1').value) == true ){
            sumXC = sumXC - parseInt(document.getElementById('RHnet1').value) ;
            
        }
        if(isInt(document.getElementById('RInet1').value) == true ){
            sumXC = sumXC - parseInt(document.getElementById('RInet1').value) ;
            
        }
        if(isInt(document.getElementById('RJnet1').value) == true ){
            sumXC = sumXC - parseInt(document.getElementById('RJnet1').value) ;
            
        }
                
        var tn=0;

        if(isInt(document.getElementById('XCnet1').value) == true){ 
            tn = parseInt(document.getElementById('XCnet1').value); // recuperer la valeur de TN
        }


        var testVar2 = "valeur ajoutée XC= XA+TB+TC+TD+TE+TF+TG+TH+TI-RC+RD-RE+RF-RG-RH-RI-RJ !";

        if(tn != sumXC){
            
            valider=0;
            
            Swal.fire('Verifier les valeurs NET saisie pour '+testVar2);
            return ;
                     
        }


        // traitement sum Excedent brute d'exploitation TQ= TN+RP

        var tq = 0; 
        var sumXD = sumXC;  // sumXD c'est sumXD = sumXC - RK


        if(isInt(document.getElementById('RKnet1').value) == true){
            sumXD = sumXD - parseInt(document.getElementById('RKnet1').value);

        }
        if(isInt(document.getElementById('XDnet1').value) == true){
            tq =  parseInt(document.getElementById('XDnet1').value);

        }
        var testVar3 = "Excedent brute d'exploitation XD = XC-RK !"; 
        if(tq != sumXD){

            valider=0;

            Swal.fire('Verifier les valeurs NET saisie pour '+testVar3);
            return;
                     
        }
        
        // traitement sum resultat d'exploitation TX = sumXD+TS+RS

        
        var tx = 0; 
        var sumXE = sumXD;  // sunTX c'est ex sumXE = sumXD -RL+TJ

        if(isInt(document.getElementById('TJnet1').value) == true){
            sumXE = sumXE + parseInt(document.getElementById('TJnet1').value);

        }
        if(isInt(document.getElementById('RLnet1').value) == true){
            sumXE = sumXE - parseInt(document.getElementById('RLnet1').value);

        }
        if(isInt(document.getElementById('XEnet1').value) == true){
            tx =  parseInt(document.getElementById('XEnet1').value);

        }
        var testVar4 = "Resultat d'exploitation XE = XD+TJ-RL !";
        if(tx != sumXE){

            valider=0;

            Swal.fire('Verifier les valeurs NET saisies pour  '+testVar4);
            return;
                     
        }

        // traitement sum resultat financier UG = UA+ UD+ UE- SA- SD

        var sumXF = 0; // sumXF c'est ex sumXF = TK+TL+TM-RM-RN
        var ug = 0;
        if(isInt(document.getElementById('RMnet1').value) == true && 
           isInt(document.getElementById('RNnet1').value) == true && 
           isInt(document.getElementById('TKnet1').value == true) &&
           isInt(document.getElementById('TLnet1').value == true) &&
           isInt(document.getElementById('TMnet1').value == true) ){

            
            sumXF=  parseInt(document.getElementById('TKnet1').value)+
                    parseInt(document.getElementById('TLnet1').value)+
                    parseInt(document.getElementById('TMnet1').value)-
                    parseInt(document.getElementById('RMnet1').value)-
                    parseInt(document.getElementById('RNnet1').value)
                    ;

                    
        }
        if(isInt(document.getElementById('XFnet1').value) == true){
            ug =  parseInt(document.getElementById('XFnet1').value);

        }
        var testVar5 = "Resultat financier XF = TK+TL+TM-RM-RN !";
        if(ug != sumXF){

            valider=0;

            Swal.fire('Verifier la saisie pour '+testVar5);
            return;
                     
        }

        
        var sumXG = sumXE+sumXF; // sumXG c'est ex sumXG = XE+XF
        
        
        var ui = 0;
        if(isInt(document.getElementById('XGnet1').value) == true){
            ui =  parseInt(document.getElementById('XGnet1').value);
            
        }
        var testVar6 = "Resultat des activites ordinaires XG = XE+XF !";
        if(ui != sumXG){

            valider=0;

            Swal.fire('Verifier les valeurs NET saisies pour '+testVar6); return;
                     
        }

        // traitement sum resultat hors activites ordinaires (RHO) UP= UK + UL +SK +SL        
        var sumXH = 0; // sumXH c'est ex sumXH = TN+TO-RO-RP 
        var up = 0; 
        if(isInt(document.getElementById('TNnet1').value) == true && 
           isInt(document.getElementById('TOnet1').value) == true && 
           isInt(document.getElementById('ROnet1').value == true) &&
           isInt(document.getElementById('RPnet1').value == true) ){

            
            sumXH = parseInt(document.getElementById('TNnet1').value)+
                    parseInt(document.getElementById('TOnet1').value)-
                    parseInt(document.getElementById('ROnet1').value)-
                    parseInt(document.getElementById('RPnet1').value)
                    ;
                    
        }
        if(isInt(document.getElementById('XHnet1').value) == true){
            up =  parseInt(document.getElementById('XHnet1').value);

        }
        var testVar7 = "XH = TN+TO-RO-RP Resultat hors activites ordinaires !";
        if(up != sumXH){

            valider=0;

            Swal.fire('Verifier les valeurs NET saisies pour '+testVar7);
            return;
                     
        }

        // traitement sum benef ou perte UZ = UI +UP +SQ +SR
        var sumXI = sumXG+sumXH; //sumXI c'est ex sumXI=XG+XH-RQ-RS
        var uz = 0;
        var uz2 = 0;
        
        if(isInt(document.getElementById('RQnet1').value) == true && 
           isInt(document.getElementById('RSnet1').value) == true ){

            
            sumXI = sumXI-parseInt(document.getElementById('RQnet1').value)-
                    parseInt(document.getElementById('RSnet1').value)
                    ;
                    
        }
        if(isInt(document.getElementById('XInet1').value) == true){
            uz =  parseInt(document.getElementById('XInet1').value);
            uz2 =  parseInt(document.getElementById('XInet2').value);

        }
        var testVar8 = "résultat net XI=XG+XH-RQ-RS !";
        if(uz != sumXI){

            valider=0;

            Swal.fire('Verifier les valeurs NET saisies pour '+testVar8); return;
                     
        }

        if (valider==1) {
                    // un tab contenant les valeurs de XIn et XIn-1
                    var xin=[
                        uz, uz2
                     ];
            
                     
                     let route="{{path('compareCiXi')}}"+"/"+ $('#annee').val();
                     $.ajax({
                            type: 'GET',
                            url : route,
                            dataType : "json",
                            processData: false,
                            contentType: false,
                            cache: false,
                            timeout: 800000,
                            success: function(data){ 
                                
                                //if(JSON.stringify(data) === JSON.stringify(xin)){

                                if(false === getResult(parseInt( data[0]), parseInt( xin))){
                                       
                                    valider=0;
                                    Swal.fire('Verifier les valeurs NET saisies pour XI, CI est différent de XI'); return;
                                }else{

                                    {
                                    e.preventDefault();
                                    var a=$(this);
                                    Swal.fire({
                                    title:"Confirmation",
                                    text:"Êtes-vous sûr de vouloir sauvegarder les données de cet enrégistrement ?",
                                    icon:"success",
                                    showCancelButton:true,
                                    confirmButtonText:"Oui",
                                    cancelButtonText:"Non",
                                    confirmButtonClass:"btn btn-success mt-2",
                                    cancelButtonClass:"btn btn-danger ms-2 mt-2",
                                    buttonsStyling:!1}).then(function(t)
                                    {
                                      if (t.value) {
                                         document.getElementById("idformcompte").submit()
                                      }else
                                          e.preventDefault();
                    
                                    })}
                                }
                                                   
                                
                            } ,
                            error : function(error){
                                console.log(error);
                            }
                        });

        }

    }); // end eventListner btn valider 

    
    
    $('#resetBtn').click(function(e){
        
        // e.preventDefault(); 
        //$("#idformcompte")[0].reset.click();
        
        {
            e.preventDefault();
            var a=$(this);
            Swal.fire({
            title:"Confirmation",
            text:"Êtes-vous sûr de vouloir effacer les données de cet enrégistrement ?",
            icon:"warning",
            showCancelButton:true,
            confirmButtonText:"Oui",
            cancelButtonText:"Non",
            confirmButtonClass:"btn btn-success mt-2",
            cancelButtonClass:"btn btn-danger ms-2 mt-2",
            buttonsStyling:!1}).then(function(t)
            {
                if (t.value) {
                 //document.getElementById("idformcompte")[0].reset.click()
                    document.getElementById("idformcompte").reset();
                    // window.location.reload(); return;

              }else
                  e.preventDefault();

            })}

    });    

    
    function somme(netnumber,sousclasseName){
        var elemts =  $('input.calcul.'+netnumber+'.'+sousclasseName);
        var sum =0;
        for(var i = 0 ; i< elemts.length;i++){
            sum+=parseInt(elemts[i].value);
        }

        return sum;

    }

        
   // }); end dom


</script>


{% endblock %}