{% extends 'ninea.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('admin/dist/assets/css/bootstrap.min.css')}}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
  <link href="{{ asset('admin/dist/assets/css/icons.min.css')}}" rel="stylesheet" type="text/css" />


{% endblock %}


{% block body %}



    {% for message in app.flashes('notice') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="mdi mdi-alert-outline me-2"></i>
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endfor %}
     <div class="row">
        <div class="col-12">

            <div class="box mt-2">
                <div class="box-header">
                    <ul class="nav nav-tabs nav-tabs-left">
                        <li class="active">
                            <a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                            Filtrer des NINEAs
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="box-content padded">
                    <div class="tab-content">            
                        <div class="example-wrapper ">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                    <div class="card-body">
                                            <form id="sample_form" class="repeater" enctype="multipart/form-data" method="get" >
                                                <div data-repeater-list="group-a">

                                                    <div class="" id="process" style="display:none;">
                                                        <div class="progress">
                                                            <!-- <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                                                <span id="process_data">0</span> - <span id="total_data">0</span>
                                                            -->
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                                        </div>
                                                    </div>

                                                    <!-- <div id="myProgress">
                                                        <div id="myBar"></div>
                                                    </div> -->

                                                    <div data-repeater-item class="row mt-1">
                                                        <div class="mb-3 col-lg-4">
                                                        <label for="" class="form-label">Date de début</label>
                                                        <input type="date" {% if dateDebut != '' %} value='{{dateDebut|date("Y-m-d")}}' {% endif %} class="form-control form-control-sm" name="var-datedebut" id="var-datedebut" aria-describedby="helpId" placeholder="">
                                                        <small id="helpId" class="form-text text-muted"></small>
                                                        </div>

                                                        <div class="mb-3 col-lg-4">
                                                        <label for="" class="form-label">Date de fin</label>
                                                        <input type="date"
                                                            class="form-control form-control-sm" name="var-datefin" {% if dateFin != '' %} value='{{dateFin|date("Y-m-d")}}' {% endif %} >
                                                        <small id="helpId" class="form-text text-muted"></small>
                                                        </div>

                                                    
                                                        
                                                        <div class="col-lg-2 mt-2 align-self-center">
                                                            <div class="d-grid">
                                                                <input id="submit-templ" name="submit-templ" type="submit" class="btn btn-secondary bg-secondary btn-sm" value="Filtrer"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </form> 
                                        </div>
                                        </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                                            
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="col-4">

            <div class="box mt-2">
                <div class="box-header">
                    <ul class="nav nav-tabs nav-tabs-left">
                        <li class="active">
                            <a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                            Ninea
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="box-content ">
                    <div class="tab-content">            
                            
                        <div id="id_etat" class="apex-charts"  dir="ltr"></div>
                                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
              <div class="box mt-2">
                <div class="box-header">
                    <ul class="nav nav-tabs nav-tabs-left">
                        <li class="active">
                            <a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                            Forme unité
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="box-content ">
                    <div class="tab-content">            
                            
                                    <div id="chart_fu" class="apex-charts"  dir="ltr"></div>
                                
                                
                              
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">

            <div class="box mt-2">
                <div class="box-header">
                    <ul class="nav nav-tabs nav-tabs-left">
                        <li class="active">
                            <a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                            Forme juridique
                            </a>
                        </li>

                    

                    </ul>
                </div>
                <div class="box-content padded">
                    <div class="tab-content">
                        <div class="tab-pane box active" id="list">
                                    <div id="chart_fj" class="apex-charts"  dir="ltr"></div>
                           

                        </div>

                        
                    </div>
                </div>
            </div>
        </div>

         

        <div class="col-12">

        <div class="box mt-2">
            <div class="box-header">
                <ul class="nav nav-tabs nav-tabs-left">
                    <li class="active">
                        <a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                        SRSD
                        </a>
                    </li>

                

                </ul>
            </div>
            <div class="box-content padded">
                <div class="tab-content">
                    <div class="tab-pane box active" id="list">
                                <div id="chart_srsd" class="apex-charts"  dir="ltr"></div>
                        

                    </div>

                    
                </div>
            </div>
        </div>
        </div>

        <div class="col-12">

            <div class="box mt-2">
                <div class="box-header">
                    <ul class="nav nav-tabs nav-tabs-left">
                        <li class="active">
                            <a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                            Mois
                            </a>
                        </li>

                    

                    </ul>
                </div>
                <div class="box-content padded">
                    <div class="tab-content">
                        <div class="tab-pane box active" id="list">
                                    <div id="mois_chart" class="apex-charts"  dir="ltr"></div>
                           

                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">

            <div class="box mt-2">
                <div class="box-header">
                    <ul class="nav nav-tabs nav-tabs-left">
                        <li class="active">
                            <a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                            Secteur activité
                            </a>
                        </li>

                    

                    </ul>
                </div>
                <div class="box-content padded">
                    <div class="tab-content">
                        <div class="tab-pane box active" id="list">
                                    <div id="chart_activite" class="apex-charts"  dir="ltr"></div>
                           

                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
	


{% endblock %}

{% block javascript %}
    <script src="{{ asset('admin/dist/assets/libs/apexcharts/apexcharts.min.js')}}"></script>
    <script >
            var libelle=[];
            var nombre=[];
            {% for tag in nineaParEtat %}
                {% if tag.etat == 0 %}
                   libelle.push('SUSPENDU');
                {% else %}
                       {% if tag.etat == 1 %}
                        libelle.push('ACTIF');
                        {% else %}
                        libelle.push('NEAN');


                        {% endif %}

                {% endif %}
                nombre.push('{{tag.nombre}}');
            {% endfor %}
            
             var options = {
                    series: [{
                    data:nombre
                    }],
                    chart: {
                    type: 'bar',
                    height: 350
                    },
                    plotOptions: {
                    bar: {
                        borderRadius: 4,
                        horizontal: false,
                    }
                    },
                    dataLabels: {
                    enabled: false
                    },
                    xaxis: {
                    categories:libelle,
                    }
            };
            var chart = new ApexCharts(document.querySelector("#id_etat"), options);
            chart.render();


            var libelle=[];
            var nombre=[];
            {% for tag in nineaParFormeUnite %}
                libelle.push('{{tag.libelle}}');
                nombre.push('{{tag.nombre}}');
            {% endfor %}


            var options = {
                    series: [{
                    data:nombre
                    }],
                    chart: {
                    type: 'bar',
                    height: 350
                    },
                    plotOptions: {
                    bar: {
                        borderRadius: 4,
                        horizontal: false,
                    }
                    },
                    dataLabels: {
                    enabled: false
                    },
                    xaxis: {
                    categories:libelle,
                    }
            };

            var chart = new ApexCharts(document.querySelector("#chart_fu"), options);
            chart.render();

             var libelle=[];
            var nombre=[];
            {% for tag in nineaParActivite %}
                libelle.push('{{tag.libelle}}');
                nombre.push('{{tag.nombre}}');
            {% endfor %}


            var options = {
                    series: [{
                    data:nombre
                    }],
                    chart: {
                    type: 'bar',
                    height: 350
                    },
                    plotOptions: {
                    bar: {
                        borderRadius: 4,
                        horizontal: true,
                    }
                    },
                    dataLabels: {
                    enabled: false
                    },
                    xaxis: {
                    categories:libelle,
                    }
            };

            var chart = new ApexCharts(document.querySelector("#chart_activite"), options);
            chart.render();

            var libelle=[];
            var nombre=[];
            {% for tag in nineaParCentre %}
                libelle.push('{{tag.libelle}}');
                nombre.push('{{tag.nombre}}');
            {% endfor %}


            var options = {
                    series: [{
                    data:nombre
                    }],
                    chart: {
                    type: 'bar',
                    height: 350
                    },
                    plotOptions: {
                    bar: {
                        borderRadius: 4,
                        horizontal: true,
                    }
                    },
                    dataLabels: {
                    enabled: false
                    },
                    xaxis: {
                    categories:libelle,
                    }
            };

            var chart = new ApexCharts(document.querySelector("#chart_srsd"), options);
            chart.render();


            var libelle=[];
            var nombre=[];
            {% for tag in nineaParFormeJuridique %}
                libelle.push('{{tag.libelle}}');
                nombre.push('{{tag.nombre}}');
            {% endfor %}


            var options = {
                    series: [{
                    data:nombre
                    }],
                    chart: {
                    type: 'bar',
                    height: 350
                    },
                    plotOptions: {
                    bar: {
                        borderRadius: 4,
                        horizontal: true,
                    }
                    },
                    dataLabels: {
                    enabled: false
                    },
                    xaxis: {
                    categories:libelle,
                    }
            };

            var chart = new ApexCharts(document.querySelector("#chart_fj"), options);
            chart.render();

            function getMonthString(num)
            {

                if(num==1)
                return "Jan";
                else if(num==2)
                return "Fév";
                else if(num==3)
                return "Mar";
                else if(num==4)
                return "Avr";
                else if(num==5)
                return "Mai";
                else if(num==6)
                return "Juin";
                else if(num==7)
                return "Juillet";
                else if(num==8)
                return "Aout";
                else if(num==9)
                return "Setp";
                else if(num==10)
                return "Oct";
                
                else if(num==11)
                return "Nov";
                
                else if(num==12)
                return "Déc";

                return "";
            }


            var libellemois=[];
            var nombremois=[];
            var jan=0, fev=0,mar=0,avr=0,mai=0,juin=0,juillet=0,aout=0,oct=0,sept=0,nov=0,dec=0;
            {% for tag in findNineaParMois %}
                
                var num='{{tag.mois}}';
                if(num==1)
                jan=jan+parseInt('{{tag.nombre}}');
                else if(num==2)
                fev=fev+parseInt('{{tag.nombre}}');
                else if(num==3)
                mar=mar+parseInt('{{tag.nombre}}');
                else if(num==4)
                avr=avr+parseInt('{{tag.nombre}}');
                else if(num==5)
                mai=mai+parseInt('{{tag.nombre}}');
                else if(num==6)
                juin=juin+parseInt('{{tag.nombre}}');
                else if(num==7)
                juillet=juillet+parseInt('{{tag.nombre}}');
                
                else if(num==8)
                aout=aout+parseInt('{{tag.nombre}}');
                
                else if(num==9)
                sept=sept+parseInt('{{tag.nombre}}');
                
                else if(num==10)
                oct=oct+parseInt('{{tag.nombre}}');
                
                
                else if(num==11)
                nov=nov+parseInt('{{tag.nombre}}');
                
                else if(num==12)
                dec=dec+parseInt('{{tag.nombre}}');
                

            {% endfor %}
            nombremois.push(jan,fev,mar,avr,mai,juin,juillet,aout,sept,oct,nov,dec);
            libellemois.push("jan","fev","mar","avr","mai","juin","juillet","aout","setp","oct","nov","dec");




            var options = {
                    series: [{
                        name: "Desktops",
                        data: nombremois
                    }],
                    chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    }
                    },
                    dataLabels: {
                    enabled: false
                    },
                    stroke: {
                    curve: 'straight'
                    },
                    title: {
                    text: 'NINEA par mois',
                    align: 'left'
                    },
                    grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                    },
                    xaxis: {
                    categories: libellemois,
                    }
            };

            var chart = new ApexCharts(document.querySelector("#mois_chart"), options);
            chart.render();
        
    
    </script>
{% endblock %}




