<tr style="border:#ced4da;">
    <td><button type="button" class="btn  btn-removeProd"><i class="fas fa-times-circle"></i></button></td>
    <td>{{ form_widget(form.dateJ) }}</td>
    <td>{{ form_widget(form.libelle) }}</td>
    <td>{{ form_widget(form.recettes) }}</td>
    <td>{{ form_widget(form.depenses) }}</td>
    <td>{{ form_widget(form.solde) }}</td>
    <td>{{ form_widget(form.vrVentes) }}</td>
    <td>{{ form_widget(form.vrAutres) }}</td>
    <td>{{ form_widget(form.vdMobiliers) }}</td>
    <td>{{ form_widget(form.vdMarchandises) }}</td>
    <td>{{ form_widget(form.vdFournitures) }}</td>
    <td>{{ form_widget(form.vdLoyer) }}</td>
    <td>{{ form_widget(form.vdSalaires) }}</td>
    <td>{{ form_widget(form.vdImpots) }}</td>
    <td>{{ form_widget(form.vdAutres) }}</td>
</tr>
