{% extends 'ninea.html.twig' %}

{% block title %}NinJourFerier index{% endblock %}

{% block body %}
 

<a href="{{ path('app_nin_jour_ferier_new') }}" class="btn btn-primary btn-sm mt-lg-5">Ajouter un jour férié</a>

<div class="box ">
	<div class="box-header">
		<ul class="nav nav-tabs nav-tabs-left">
			<li class="active">
				<a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                  
                   Liste des jours fériés
				</a>
			</li>

          

		</ul>
	</div>

	<div class="box-content padded">

		<div class="tab-content">            
			<div class="example-wrapper ">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-body">
                        
    <table class="table" id="tbl-ferier">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nin_jour_ferier in nin_jour_feriers %}
            <tr>
                <td>{{ nin_jour_ferier.id }}</td>
                <td>{{ nin_jour_ferier.Ninjour ? nin_jour_ferier.Ninjour|date('d/m/Y') : '' }}</td>
                <td>{{ nin_jour_ferier.Nindescription }}</td>
                <td>
                    <a href="{{ path('app_nin_jour_ferier_edit', {'id': nin_jour_ferier.id}) }}" title="Modifier"  class="btn btn-outline-success btn-sm showjf" id="showjf"><i class="fas fa-pencil-alt"></i></a>
                    <a href="{{ path('app_nin_jour_ferier_delete', {'id': nin_jour_ferier.id}) }}" title="Supprimer"  class="btn btn-outline-danger btn-sm deletejf" id="deletejf"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
								
		</div>
			
    </div>
</div>

{% endblock %}

{% block javascript %}

<script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>

<script>

    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
        "date-uk-pre": function ( a ) {
            if (a == null || a == "") {
                return 0;
            }
            var ukDatea = a.split('/');
            return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
        },
     
        "date-uk-asc": function ( a, b ) {
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },
     
        "date-uk-desc": function ( a, b ) {
            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }

    });



    $("#tbl-ferier").DataTable({

        columnDefs: [
            { type: 'date-uk-desc', targets: 5 }
          ],

        "sDom": 'f<"top">tip',
        "language": {

            "processing": "Traitement en cours...",

            "search": "Rechercher",

            "width": "10%",

            "lengthMenu": "Afficher _MENU_ ",

            "info": "Affichage de _START_ &agrave; _END_ sur _TOTAL_ ",

            "infoEmpty": "Affichage de 0 &agrave; 0 sur 0 ",

            "infoFiltered": "(filtr&eacute; de _MAX_  au total)",

            "infoPostFix": "",

            "loadingRecords": "Chargement en cours...",

            "zeroRecords": "Rien &agrave; afficher",

            "emptyTable": "Aucune donnée disponible dans le tableau",

            "paginate": {

                first: "Premier",

                previous: "Pr&eacute;c&eacute;dent",

                next: "Suivant",

                last: "Dernier"

            },

        }
    });
</script>
{% endblock %}

