{% extends 'base.html.twig' %}

{% block title %}New Bilan{% endblock %}
{% block stylesheets %}
 <link href="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/dist/assets/libs/admin-resources/rwd-table/rwd-table.min.css')}}" rel="stylesheet" type="text/css" />

<style type="text/css">
   

    .has_error{
       background-color: #E8F0FE;
       border-color: red;
      
    }
    .larger{

        width: 100%;

    }
 </style>


         
{% endblock %}
{% block body %}
<div class="card" style=" margin: 0%;padding: 0%;-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175);box-shadow:0 1rem 3rem rgba(0,0,0,.175)">
    <div class="card-title">
         
    </div>
    <div class="card-body " style="margin: 0%;padding: 0%;">
                <form method="post" action="{{path('immo_brut_new')}}" id="idformpas" style="margin: 0px; padding: 0px;">
                            <div class="row" style="margin-top: 0px; padding: 0px;">
                             <div class="col-xl-12" style="margin-top: 0px; padding: 0px;"> 
                                      
                                <table class="table table-bordered mt-5" style="margin-top: 0px; padding: 0px;">
                                                         <tr style="margin-top:0px;">
                                                          
                                                          <td>Numéro d'identification :<span style="color:red">*</span>
                                                              <input type="text"  class="form-control form-control-sm" name="codecuci" id="idcuci" ></td>
                                                          <td>Désignation entité :<span style="color:red">*</span>
                                                              <input type="text" disabled class="form-control form-control-sm" name="" id="denomination"></td>
                                                          <td>Année financière :<span style="color:red">*</span>
                                                              <input type="text" class="form-control form-control-sm" name="annee" id="annee"></td>
                                                         </tr>
                                </table>
                                         
                                <div class="card">
                                 <div class="card-body">

                                     <div class="d-flex flex-wrap gap-2 justify-content-center">
                                         <button type="button" class="btn btn-secondary waves-effect waves-light">
                                             <i class="bx bx-error font-size-16 align-middle me-2"></i> Effacer les données
                                         </button>
                                        
                                         <a href="" type="submit" class="btn btn-success waves-effect waves-light sauvegarder">
                                             <i class="bx bx-check-double font-size-16 align-middle me-2"></i>
                                             Sauvegarder
                                         </a>
                                         <button id="valider" type="button" class="btn btn-dark bt-soft waves-effect waves-light">
                                             <i class="bx bx-block font-size-16 align-middle me-2"></i> Valider la saisie
                                         </button>
                                     </div>
                                 </div>
                                </div>
                             </div>

                            <div class="col-12">
                                <div class="table-responsive">
                                    <table name="form2" id="form2" class="table table-striped table-bordered table-hover">
                                        <thead style="background: #008000; color:white;">
                                            <tr class=" opacity-65">
                                                <th scope="col" colspan="2" class="text-center ">
                                                   
                                                </th>
                                                <th scope="col" colspan="1" class="text-center">
                                                    A
                                                  <br>
                                                </th>
                                                <th colspan="3" scope="col" class="text-center">
                                                    <span class="text-info" id="annee">
                                                        AUGMENTATIONS  B
                                                    </span> 
                                                </th>
                                                <th colspan="2" scope="col" class="text-center">
                                                    <span class="text-info" id="annee">
                                                        DIMINUTIONS  C
                                                    </span> 
                                                </th>
                                                <th colspan="1" scope="col" class="text-center">
                                                    <span class="text-info" id="annee">
                                                       D = A +B - C
                                                    </span> 
                                                </th>
                                                
                                              </tr>
                                            <tr class=" opacity-80">
                                                <th scope="col" colspan="1" class="text-center">
                                                   REF  
                                                </th>
                                                <th scope="col" colspan="1" class="text-center">
                                                  Libellé  
                                                </th>
                                                <th colspan="1" scope="col" class="text-center">
                                                 Montant brut à l'ouverture de l'exercice
                                                </th>
                                                <th colspan="1" scope="col" class="text-center">
                                                  Acquisitions Apports Créations
                                                </th>
                                                 <th colspan="1" scope="col" class="text-center">
                                                  Virements de poste à poste
                                                </th>
                                                 <th colspan="1" scope="col" class="text-center">
                                                  Suite à une réévaluation pratiquée au cours de l'exercice
                                                </th>
                                                <th colspan="1" scope="col" class="text-center">
                                                  Cessions Scissions Hors service
                                                </th>
                                                <th colspan="1" scope="col" class="text-center">
                                                 Virements de poste à poste
                                                </th>
                                                <th colspan="1" scope="col" class="text-center">
                                                  Montant brut à la clôture de l'exercice
                                                </th>
                                              </tr>
                                        </thead>

                                        <!-- debut tbody inputs -->
                                        <tbody id="tbody">
                                    
                                        
                                        
                                        </tbody>
                                        <!-- end tbody -->
                                    </table>
                                </div>
                            </div>           

                            </div>
                            <input type="hidden" name="type" value="1" >
                  
                </form>
           

    </div>
</div>



    
{% endblock %}



{% block javascript %}
<script src="{{ asset('admin/dist/assets/libs/sweetalert2/sweetalert2.min.js')}}"></script>

<script src="{{ asset('admin/dist/assets/js/pages/table-responsive.init.js')}}"></script>

<script src="{{ asset('admin/dist/assets/libs/admin-resources/rwd-table/rwd-table.min.js')}}"></script>

        <!-- Init js -->


  <!-- Sweet alert init js-->
<script src="{{ asset('admin/dist/assets/js/pages/sweet-alerts.init.js')}}"></script>

<script>



 $(document).ready(function(){

 {% if app.session.get("codeCuci")!=""%}
  
    var value='{{app.session.get("codeCuci")}}';

    document.getElementById('idcuci').setAttribute('value',value);
  

    let route="{{path('nineaNumImmoBrut')}}"+"/"+ value;
            $.ajax({
                type: 'GET',
                url : route,
                dataType : "json",
                success: function(data){
                    
                    let denomination=document.getElementById("denomination");
                   
                    denomination.value=data;

                  
                } ,
                error : function(error){
                    console.log(error);
                }
    })

 {% endif %}

  });




    $('#annee').change(function(){
            
            let route="{{path('immoBrutjson')}}"+"/"+ $('#annee').val();
             var form = $(this).closest("form");
            $.ajax({
                type: 'GET',
                url : route,
                dataType : "json",
                success: function(data){
                    var tbody=document.getElementById("tbody");
                  

                    tbody.innerHTML="";


                    console.log(data);



                    for (var i = 0; i < data[0].length; i++) {
                        var tr=document.createElement('tr');
                        if (data[0][i][4]) {
                             tr.setAttribute('class'," opacity-65");
                              tr.setAttribute('style',"background: #82C46C;");
                        }
                                  

                        var td1=document.createElement('td');
                        var td2=document.createElement('td');
                        var td3=document.createElement('td');
                        var td4=document.createElement('td');
                        var td5=document.createElement('td');
                        var td6=document.createElement('td');
                        var td7=document.createElement('td');
                        var td8=document.createElement('td');
                        var td9=document.createElement('td');
                      

                        td1.setAttribute('colspan',1); 
                        td1.setAttribute('scope',"col"); 
                        td1.setAttribute('class',"text-center form");
                               
                             
                        td1.innerHTML=  data[0][i][0];
                        tr.appendChild(td1) ;

                        td2.setAttribute('colspan',1); 
                        td2.setAttribute('scope',"col"); 
                                   
                        td2.innerHTML=  data[0][i][1];
                        tr.appendChild(td2) ;

                        td3.setAttribute('colspan',1); 
                        td3.setAttribute('scope',"col"); 
                        td3.setAttribute('class',"text-center"); 


                        var input3=document.createElement('input');  
                        input3.setAttribute('class','form-control form-control-sm'); 
                        input3.setAttribute('type','number'); 
                        input3.setAttribute('name',data[0][i][0]+"brutA");
                        input3.setAttribute('id',data[0][i][0]+"brutA");
                        

                        if(data[1][data[0][i][0]]){
                          input3.setAttribute('value',data[1][data[0][i][0]][1]);
                        }


                        td3.appendChild(input3);
                        tr.appendChild(td3) ;

                      


                        td4.setAttribute('colspan',1); 
                        td4.setAttribute('scope',"col"); 
                        td4.setAttribute('class',"text-center");           
                       
                        var input4=document.createElement('input');  
                        input4.setAttribute('class','form-control form-control-sm');
                        input4.setAttribute('type','number'); 
                        input4.setAttribute('name',data[0][i][0]+"augmentationB1");
                        input4.setAttribute('id',data[0][i][0]+"augmentationB1");
                         
                        td4.appendChild(input4);
                        tr.appendChild(td4) ;


                        td5.setAttribute('colspan',1); 
                        td5.setAttribute('scope',"col"); 
                        td5.setAttribute('class',"text-center");           
                       
                        var input5=document.createElement('input');  
                        input5.setAttribute('class','form-control form-control-sm');
                        input5.setAttribute('type','number'); 
                        input5.setAttribute('name',data[0][i][0]+"augmentationB2");
                        input5.setAttribute('id',data[0][i][0]+"augmentationB2");
                         
                        td5.appendChild(input5);
                        tr.appendChild(td5) ;


                        td6.setAttribute('colspan',1); 
                        td6.setAttribute('scope',"col"); 
                        td6.setAttribute('class',"text-center");           
                       
                        var input6=document.createElement('input');  
                        input6.setAttribute('class','form-control form-control-sm');
                        input6.setAttribute('type','number'); 
                        input6.setAttribute('name',data[0][i][0]+"augmentationB3");
                        input6.setAttribute('id',data[0][i][0]+"augmentationB3");
                         
                        td6.appendChild(input6);
                        tr.appendChild(td6) ;


                        td7.setAttribute('colspan',1); 
                        td7.setAttribute('scope',"col"); 
                        td7.setAttribute('class',"text-center");           
                       
                        var input7=document.createElement('input');  
                        input7.setAttribute('class','form-control form-control-sm');
                        input7.setAttribute('type','number'); 
                        input7.setAttribute('name',data[0][i][0]+"diminutionC1");
                        input7.setAttribute('id',data[0][i][0]+"diminutionC1");
                         
                        td7.appendChild(input7);
                        tr.appendChild(td7) ;


                        td8.setAttribute('colspan',1); 
                        td8.setAttribute('scope',"col"); 
                        td8.setAttribute('class',"text-center");           
                       
                        var input8=document.createElement('input');  
                        input8.setAttribute('class','form-control form-control-sm');
                        input8.setAttribute('type','number'); 
                        input8.setAttribute('name',data[0][i][0]+"diminutionC2");
                        input8.setAttribute('id',data[0][i][0]+"diminutionC2");
                         
                        td8.appendChild(input8);
                        tr.appendChild(td8) ;


                        td9.setAttribute('colspan',1); 
                        td9.setAttribute('scope',"col"); 
                        td9.setAttribute('class',"text-center");           
                       
                        var input9=document.createElement('input');  
                        input9.setAttribute('class','form-control form-control-sm');
                        input9.setAttribute('type','number'); 
                        input9.setAttribute('name',data[0][i][0]+"brutD");
                        input9.setAttribute('id',data[0][i][0]+"brutD");
                         
                        td9.appendChild(input9);
                        tr.appendChild(td9) ;

                        tbody.appendChild(tr);  

                                
                            
                       
                    }


                   
                } ,
                error : function(error){
                    console.log(error);
                }
            })
    });







 $('#idcuci').change(function(){
            
            let route="{{path('nineaNumImmoBrut')}}"+"/"+ $('#idcuci').val();
             
            $.ajax({
                type: 'GET',
                url : route,
                dataType : "json",
                success: function(data){
                    
                    let denomination=document.getElementById("denomination");
                    denomination.value=data;

                  
                } ,
                error : function(error){
                    console.log(error);
                }
            })
    });
    
    function remplacer(value){
        value=value.replace(".", "");
        value=value.replace(",", "");
        return value;
    }


    function is_int(value){
        value=value.replace(".", "");
        value=value.replace(",", "");
      if((parseFloat(value) == parseInt(value)) && !isNaN(value)){ 
          
          return true;
      } else {
          
          return false;
      }
    }







</script>





{% endblock %}

