<tr style="border:#ced4da;">
    <td><button type="button" class="btn  btn-removeProd"><i class="fas fa-times-circle"></i></button></td>
    <td>{{ form_widget(form.type) }}</td>
    <td> {{ form_widget(form.dateJ) }}</td>
    <td>{{ form_widget(form.nom) }}</td>
    <td>{{ form_widget(form.montant1) }}</td>
    <td>{{ form_widget(form.montant2) }}</td>
    <td>{{ form_widget(form.variation) }}</td>
</tr>
