<tr style="border:#ced4da;">
    <td><button type="button" class="btn  btn-removeProd"><i class="fas fa-times-circle"></i></button></td>
    <td>{{ form_widget(form.libelle) }}</td>
    <td> {{ form_widget(form.unites) }}</td>
    <td>{{ form_widget(form.qtyProdVenduDansEtat) }}</td>
    <td>{{ form_widget(form.valProdVenduDansEtat) }}</td>
    <td>{{ form_widget(form.qtyProdVenduDansUemoa) }}</td>
    <td>{{ form_widget(form.valProdVenduDansUemoa) }}</td>
    <td>{{ form_widget(form.qtyProdVenduHorsUemoa) }}</td>
    <td>{{ form_widget(form.valProdVenduHorsUemoa) }}</td>
    <td>{{ form_widget(form.qtyProdImmobilisee) }}</td>
    <td>{{ form_widget(form.valProdImmobilisee) }}</td>
    <td>{{ form_widget(form.qtyStkOuverture) }}</td>
    <td>{{ form_widget(form.valStkOuverture) }}</td>
    <td>{{ form_widget(form.qtyStkCloture) }}</td>
    <td>{{ form_widget(form.valStkCloture) }}</td>
</tr>
