{% extends 'ninea.html.twig' %}

{% block title %}Reactivations {% endblock %}

{% block body %}
<div class="box mt-lg-5">
	<div class="box-header">
		<ul class="nav nav-tabs nav-tabs-left">
			<li class="active">
				<a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                  
                   Demandes  réactivations
				</a>
			</li>

          

		</ul>
	</div>

	<div class="box-content padded">

		<div class="tab-content">            
			<div class="example-wrapper ">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-body">
                            <table class="table" id="demandeR">
                                <thead>
                                    <tr>
                                        <th>NINEA</th>
                                        <th>Raison</th>
                                        <th>Etat</th>
                                        <th>DateReactivation</th>
                                    
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for nireactivation in nireactivations %}
                                    <tr>
                                        <td>{{ nireactivation.ninea != null ? nireactivation.ninea.ninNinea: "" }}</td>
                                        <td style=" word-break: break-all; width: 20%;">
                                            {% if nireactivation.ninea is not null %}
                                                {% if  nireactivation.ninea.formeJuridique.niFormeunite.id ==  21 or  nireactivation.ninea.formeJuridique.niFormeunite.id ==  22 %}
                                                    {{ nireactivation.ninea.niPersonne != null ?  nireactivation.ninea.niPersonne.ninRaison:"" }}
                                                {% elseif  nireactivation.ninea.formeJuridique.niFormeunite.id ==  11 or  nireactivation.ninea.formeJuridique.niFormeunite.id ==  12 %} 
                                                        {{ nireactivation.ninea.niPersonne != null ?  nireactivation.ninea.niPersonne.ninNom :"" }} {{ nireactivation.ninea.niPersonne != null ?  nireactivation.ninea.niPersonne.ninPrenom : "" }} 
                                                {% endif %}
                                            {% endif %}
                                        
                                        </td>
                                        <td>{% if nireactivation.etat == "a" %}
                                            <span class="badge badge-pill badge-soft-info font-size-11">En attendte de validation</span> 
                                        {% else %}
                                            <span class="badge badge-pill badge-soft-success font-size-11">Valider</span> 
                                        {% endif %}</td>
                                        <td>{{ nireactivation.dateReactivation ? nireactivation.dateReactivation|date('d/m/Y') : '' }}</td>
                                    
                                        <td>
                                            {% if nireactivation.etat == "v" %}
                                                <a target="_blank" href="{{ path('pdfActionDownReactivation', {'id': nireactivation.id}) }}" title="Version imprimable" id="vimprime" class="btn btn-outline-primary btn-sm vimprime">
                                                    <i class="bx bx-printer"></i>
                                                </a>
                                            {% endif %}
                                        
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                                
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
								
		</div>
			
    </div>
</div>

    


{% endblock %}


{% block javascript %}

<script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>


<script>

    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
        "date-uk-pre": function ( a ) {
            if (a == null || a == "") {
                return 0;
            }
            var ukDatea = a.split('/');
            return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
        },
     
        "date-uk-asc": function ( a, b ) {
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },
     
        "date-uk-desc": function ( a, b ) {
            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }

    });



    $("#demandeR").DataTable({

        columnDefs: [
            { type: 'date-uk-desc', targets: 4 }
          ],

          "order": [4, "desc" ],

        "sDom": 'f<"top">tip',
        "language": {

            "processing": "Traitement en cours...",

            "search": "Rechercher",

            "width": "10%",

            "lengthMenu": "Afficher _MENU_ ",

            "info": "Affichage de _START_ &agrave; _END_ sur _TOTAL_ ",

            "infoEmpty": "Affichage de 0 &agrave; 0 sur 0 ",

            "infoFiltered": "(filtr&eacute; de _MAX_  au total)",

            "infoPostFix": "",

            "loadingRecords": "Chargement en cours...",

            "zeroRecords": "Rien &agrave; afficher",

            "emptyTable": "Aucune donnée disponible dans le tableau",

            "paginate": {

                first: "Premier",

                previous: "Pr&eacute;c&eacute;dent",

                next: "Suivant",

                last: "Dernier"

            },

        }
    });
</script>
{% endblock %}

