{% extends 'base.html.twig' %}

{% block title %}ComptederesultatSmt{% endblock %}

{% block body %}
    <h1>ComptederesultatSmt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comptederesultat_smt.id }}</td>
            </tr>
            <tr>
                <th>Rank</th>
                <td>{{ comptederesultat_smt.rank }}</td>
            </tr>
            <tr>
                <th>Submit</th>
                <td>{{ comptederesultat_smt.submit ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ comptederesultat_smt.status }}</td>
            </tr>
            <tr>
                <th>RefCode</th>
                <td>{{ comptederesultat_smt.refCode }}</td>
            </tr>
            <tr>
                <th>AnneeFinanciere</th>
                <td>{{ comptederesultat_smt.anneeFinanciere }}</td>
            </tr>
            <tr>
                <th>UploadedFileName</th>
                <td>{{ comptederesultat_smt.uploadedFileName }}</td>
            </tr>
            <tr>
                <th>Net1</th>
                <td>{{ comptederesultat_smt.net1 }}</td>
            </tr>
            <tr>
                <th>Net2</th>
                <td>{{ comptederesultat_smt.net2 }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ comptederesultat_smt.createdAt ? comptederesultat_smt.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ comptederesultat_smt.updatedAt ? comptederesultat_smt.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comptederesultat_smt_index') }}">back to list</a>

    <a href="{{ path('app_comptederesultat_smt_edit', {'id': comptederesultat_smt.id}) }}">edit</a>

    {{ include('comptederesultat_smt/_delete_form.html.twig') }}
{% endblock %}
