<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb bg-info">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html"></a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)"></a></li>
              <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% if app.user.sexe == "M" %}
                          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                              
                    {% else %}
                          <img src="{{ asset('admin/dist/assets/images/users/avatar-1.jpg')}}" alt="Admin" class="rounded-circle" width="150">

                    {% endif %}
                    <div class="mt-3">
                      <h4>{{ user.prenom }}</h4>
                      <p class="text-secondary mb-1">Expire à {{ user.dateExpiration | date ('F d, Y')}}</p>
                      <p class="text-muted font-size-sm">ANSD central, Fann bel air cerf volant, DK</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Téléphone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{user.tel}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Matricule </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{user.matricule}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nom utilisateur</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{user.username}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Status du compte </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.enabled ? "Active" : "Désactive" }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Role </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {% for tag in user.roles%}
                        {% if tag=="ROLE_SUPER_ADMIN" %}
                             Super Admin,
                        {%else%}
                           {% if tag=="ROLE_ADMIN" %}
                                 Admin,
                           {%else%}
                            {% if tag=="ROLE_BREA_ADMIN" %}
                                  Admin BREA,
                             {%else%}
                             {% if tag=="ROLE_BSE_ADMIN" %}
                                 Admin BSE,
                             {%else%}
                             {% if tag=="ROLE_BREA_AGENT_SAISIE" %}
                                 Agent Saisie BREA,
                             {%else%}
                             {% if tag=="ROLE_BSE_AGENT_SAISIE" %}
                                   Agent Saisie BSE

                               {%endif%}
                               {%endif%}
                              {%endif%}
                            {%endif%}
                          {%endif%}
                        {%endif%}
                       {%endfor%}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-sm-12">
                      {% if is_granted('ROLE_BREA_ADMIN') or  is_granted('ROLE_BSE_ADMIN')  %}  
                      <a  class="btn btn-info" title="Retourner à la liste des utilisateurs" href="{{ path('user_index') }}"> Liste</a>
                        {% if user.enabled==1%}

                          <a  class="btn btn-info" title="Désactiver un compte" href="{{ path('user_desactiver',{id:user.id}) }}">Désactiver</a>

                          {%else%}
                          <a  class="btn btn-info" title="activer un compte" href="{{ path('user_activer',{id:user.id}) }}">Activer</a>

                        {%endif%}  

                        
                        <a  class="btn btn-info" title="Réinitialiser le mot de passe" href="{{ path('user_reinisialiser',{id:user.id}) }}">Réinitialiser</a>
                        <a class="btn btn-info" href="{{ path('user_edit',{id:user.id}) }}">Modifier</a>

                      {% endif %}
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>