{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}
{% block stylesheets %}
 <link href="{{ asset('admin/dist/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet" type="text/css" />
      
{% endblock %}
{% block body %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Gestion des utilisateurs</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    {% if is_granted('ROLE_BREA_ADMIN') or  is_granted('ROLE_BSE_ADMIN')  %} 
                    <li class="breadcrumb-item active"><a href="{{path('user_new')}}" class="btn btn-secondary">Ajouter <br></a></li>
                    {% endif %}
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-12">
    <div class="card" style="padding: 0%;-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175);box-shadow:0 1rem 3rem rgba(0,0,0,.175)">
      <div class="card-body ">
        <table id="usertable" class="table table-bordered dt-responsive table-hover nowrap w-100">
            <thead style="background:#efefef;">
            <tr>
                <th><b>Matricule</b></th>
                <th><b>Nom d'utilisateur</b></th>
                <th><b>Prénom</b></th>
                <th><b>Nom</b></th>
                <th><b>Tél</b></th>
                <th><b>Email</b></th>
                <th><b>Compte</b></th>
                <th></th>
            </tr>
            </thead>
            <tbody style="color: #5a5a5a; font-size: 12px;">
                 {% for user in users %}
                    <tr>
                        <td>{{ user.matricule }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.tel }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.enabled ? "Active" : "Désactive" }}</td>
                       
                        <td>
                            {% if is_granted('ROLE_BREA_ADMIN') or  is_granted('ROLE_BSE_ADMIN')  %}
                            <a href="{{ path('user_show', {'id': user.id}) }}" title="Détails de l'utilisateur"><i class="fa fa-eye" ></i></a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}"  title="Modifier  l'utilisateur"><i class="fa fa-edit"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="18">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div> <!-- end col -->
</div> <!-- end row -->
{% endblock %}
{% block javascript %}
 
 <script src="{{ asset('admin/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
 <script src="{{ asset('admin/dist/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>

<script src="{{ asset('admin/dist/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/jszip/jszip.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/pdfmake/build/pdfmake.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/pdfmake/build/vfs_fonts.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js')}}"></script>

<!-- Responsive examples -->
<script src="{{ asset('admin/dist/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{ asset('admin/dist/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')}}"></script>

<!-- Datatable init js -->
<script src="{{ asset('admin/dist/assets/js/pages/datatables.init.js')}}"></script>  

{% endblock %}





